In [1]:
import pandas as pd

In [2]:
#chargement des différentes feuilles du fichier excel "donnees propres" dans un dictionnaire
dico_df = pd.read_excel("données_propres.xlsx",sheet_name=[0,1,2,3,4,5,6,7,8,9,10])

# KPI BMW

In [3]:
#chargement de la première feuille dans le dataframe df1
df1=dico_df[0]

In [4]:
#découpage en 4 secteurs du dataframe: Group, Auto, Moto et financiers
df_KPI_Group=df1.iloc[0:8,1:]
df_KPI_Auto=df1.iloc[8:14,1:]
df_KPI_Moto=df1.iloc[14:20,1:]
df_KPI_Fin=df1.iloc[20:25,1:]

## modification des dataframes pour qu'ils aient la forme souhaitée et en distinguant par année et par trimestre, puis sauvegarde dans des fichiers csv distincts

In [5]:
df_KPI_Group=df_KPI_Group.transpose()
df_KPI_Group['Date']=df_KPI_Group.index
headers = df_KPI_Group.iloc[0]
df_KPI_Group = pd.DataFrame(df_KPI_Group.values[1:],columns=headers)
df_KPI_Group.rename(columns={'Indicateurs clés de performance':'Date'},inplace=True)
df_KPI_Group = df_KPI_Group.rename_axis(None, axis=1)
df_KPI_Group_by_Annee = df_KPI_Group.iloc[4::5, :]
df_KPI_Group_by_Quarter = df_KPI_Group.drop(index=df_KPI_Group_by_Annee.index)
df_KPI_Group_by_Annee.reset_index(inplace=True,drop=True)
df_KPI_Group_by_Quarter.reset_index(inplace=True,drop=True)
df_KPI_Group_by_Annee.rename({'Date':'Annee'},axis=1,inplace=True)

# Correction d'un erreur isolée dans le dataset
df_KPI_Group_by_Quarter['Date'][12]='31/03/2019'

df_KPI_Group_by_Quarter['Date']=pd.to_datetime(df_KPI_Group_by_Quarter['Date'])
df_KPI_Group_by_Quarter['Annee']=df_KPI_Group_by_Quarter['Date'].dt.year
df_KPI_Group_by_Quarter['Quarter']=df_KPI_Group_by_Quarter['Date'].dt.quarter
df_KPI_Group_by_Quarter=df_KPI_Group_by_Quarter[['Date','Annee','Quarter','Revenus', 'Bénéfice avant impôt', 'Rentabilité opérationnelle',
                                                 'Bénéfice net', 'Dépenses en capital', "Ratio d'investissement",
                                                 'Dépenses de recherche et développement R&D', 'Ratio R&D']]
df_KPI_Group_by_Annee=df_KPI_Group_by_Annee[['Annee','Revenus', 'Bénéfice avant impôt', 'Rentabilité opérationnelle',
                                                 'Bénéfice net', 'Dépenses en capital', "Ratio d'investissement",
                                                 'Dépenses de recherche et développement R&D', 'Ratio R&D']]

/var/folders/cv/qm8bnjl93dgclh5vdm1n1h1w0000gn/T/ipykernel_10407/1878982916.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_KPI_Group_by_Annee.rename({'Date':'Annee'},axis=1,inplace=True)
/var/folders/cv/qm8bnjl93dgclh5vdm1n1h1w0000gn/T/ipykernel_10407/1878982916.py:16: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_KPI_Group_by_Quarter['Date']=pd.to_datetime(df_KPI_Group_by_Quarter['Date'])

In [6]:
display(df_KPI_Group_by_Annee.head(3))
display(df_KPI_Group_by_Quarter.head(3))

,Annee,Revenus,Bénéfice avant impôt,Rentabilité opérationnelle,Bénéfice net,Dépenses en capital,Ratio d'investissement,Dépenses de recherche et développement R&D,Ratio R&D
0,2022,142610.0,23509.0,0.164848,18582.0,7791.0,0.054632,7178.0,0.050333
1,2021,111239.0,16060.0,0.144374,12463.0,5012.0,0.045056,6870.0,0.061759
2,2020,98990.0,5222.0,0.052753,3857.0,3922.0,0.03962,6279.0,0.063431

,Date,Annee,Quarter,Revenus,Bénéfice avant impôt,Rentabilité opérationnelle,Bénéfice net,Dépenses en capital,Ratio d'investissement,Dépenses de recherche et développement R&D,Ratio R&D
0,2022-03-31,2022,1,31142.0,12227.0,0.392621,10185.0,1098.0,0.035258,1391.0,0.044666
1,2022-06-30,2022,2,34770.0,3929.0,0.113,3047.0,1831.0,0.05266,1551.0,0.044607
2,2022-09-30,2022,3,37176.0,4100.0,0.110286,3175.0,1751.0,0.0471,1952.0,0.052507

In [7]:
df_KPI_Group_by_Annee.to_csv('KPI_Group_by_Annee.csv',index=False)
df_KPI_Group_by_Quarter.to_csv('KPI_Group_by_Quarter.csv',index=False)

In [8]:
df_KPI_Auto=df_KPI_Auto.transpose()
df_KPI_Auto['Date']=df_KPI_Auto.index
headers = df_KPI_Auto.iloc[0]
df_KPI_Auto = pd.DataFrame(df_KPI_Auto.values[1:],columns=headers)
df_KPI_Auto.rename(columns={'Indicateurs clés de performance':'Date'},inplace=True)
df_KPI_Auto = df_KPI_Auto.rename_axis(None, axis=1)
df_KPI_Auto_by_Annee = df_KPI_Auto.iloc[4::5, :]
df_KPI_Auto_by_Quarter = df_KPI_Auto.drop(index=df_KPI_Auto_by_Annee.index)
df_KPI_Auto_by_Annee.reset_index(inplace=True,drop=True)
df_KPI_Auto_by_Quarter.reset_index(inplace=True,drop=True)
df_KPI_Auto_by_Annee.rename({'Date':'Annee'},axis=1,inplace=True)

# Correction d'un erreur isolée dans le dataset
df_KPI_Auto_by_Quarter['Date'][12]='31/03/2019'

df_KPI_Auto_by_Quarter['Date']=pd.to_datetime(df_KPI_Auto_by_Quarter['Date'])
df_KPI_Auto_by_Quarter['Annee']=df_KPI_Auto_by_Quarter['Date'].dt.year
df_KPI_Auto_by_Quarter['Quarter']=df_KPI_Auto_by_Quarter['Date'].dt.quarter
df_KPI_Auto_by_Quarter=df_KPI_Auto_by_Quarter[['Date','Annee','Quarter','Revenus', "Excédent brut d'exploitation", 
                                               "Marge d'exploitation", 'Flux de trésorerie disponible']]
df_KPI_Auto_by_Annee=df_KPI_Auto_by_Annee[['Annee','Revenus', "Excédent brut d'exploitation", "Marge d'exploitation",
          'Rentabilité économique RoCE', 'Flux de trésorerie disponible','Actifs financiers nets']]

/var/folders/cv/qm8bnjl93dgclh5vdm1n1h1w0000gn/T/ipykernel_10407/2471829716.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_KPI_Auto_by_Annee.rename({'Date':'Annee'},axis=1,inplace=True)
/var/folders/cv/qm8bnjl93dgclh5vdm1n1h1w0000gn/T/ipykernel_10407/2471829716.py:16: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_KPI_Auto_by_Quarter['Date']=pd.to_datetime(df_KPI_Auto_by_Quarter['Date'])

In [9]:
display(df_KPI_Auto_by_Annee.head(3))
display(df_KPI_Auto_by_Quarter.head(3))

,Annee,Revenus,Excédent brut d'exploitation,Marge d'exploitation,Rentabilité économique RoCE,Flux de trésorerie disponible,Actifs financiers nets
0,2022,123602.0,10635.0,0.086042,0.181,11071.0,24603.0
1,2021,95476.0,9870.0,0.103377,0.24,6354.0,22362.0
2,2020,80853.0,2162.0,0.02674,0.127,3395.0,18462.0

,Date,Annee,Quarter,Revenus,Excédent brut d'exploitation,Marge d'exploitation,Flux de trésorerie disponible
0,2022-03-31,2022,1,26726.0,2367.0,0.088565,4816.0
1,2022-06-30,2022,2,30015.0,2463.0,0.082059,2954.0
2,2022-09-30,2022,3,32290.0,2873.0,0.088975,2106.0

In [10]:
df_KPI_Auto_by_Annee.to_csv('KPI_Auto_by_Annee.csv',index=False)
df_KPI_Auto_by_Quarter.to_csv('KPI_Auto_by_Quarter.csv',index=False)

In [11]:
df_KPI_Moto=df_KPI_Moto.transpose()
df_KPI_Moto['Date']=df_KPI_Moto.index
headers = df_KPI_Moto.iloc[0]
df_KPI_Moto = pd.DataFrame(df_KPI_Moto.values[1:],columns=headers)
df_KPI_Moto.rename(columns={'Indicateurs clés de performance':'Date'},inplace=True)
df_KPI_Moto = df_KPI_Moto.rename_axis(None, axis=1)
df_KPI_Moto_by_Annee = df_KPI_Moto.iloc[4::5, :]
df_KPI_Moto_by_Quarter = df_KPI_Moto.drop(index=df_KPI_Moto_by_Annee.index)
df_KPI_Moto_by_Annee.reset_index(inplace=True,drop=True)
df_KPI_Moto_by_Quarter.reset_index(inplace=True,drop=True)
df_KPI_Moto_by_Annee.rename({'Date':'Annee'},axis=1,inplace=True)

# Correction d'un erreur isolée dans le dataset
df_KPI_Moto_by_Quarter['Date'][12]='31/03/2019'

df_KPI_Moto_by_Quarter['Date']=pd.to_datetime(df_KPI_Moto_by_Quarter['Date'])
df_KPI_Moto_by_Quarter['Annee']=df_KPI_Moto_by_Quarter['Date'].dt.year
df_KPI_Moto_by_Quarter['Quarter']=df_KPI_Moto_by_Quarter['Date'].dt.quarter
df_KPI_Moto_by_Quarter=df_KPI_Moto_by_Quarter[['Date','Annee','Quarter','Revenus', "Excédent brut d'exploitation", 
                                               "Marge d'exploitation",'Sales volume (deliveries to customers) units']]
df_KPI_Moto_by_Annee=df_KPI_Moto_by_Annee[['Annee','Revenus', "Excédent brut d'exploitation", "Marge d'exploitation",'Rentabilité économique RoCE',
       'Sales volume (deliveries to customers) units','Production volume units']]

/var/folders/cv/qm8bnjl93dgclh5vdm1n1h1w0000gn/T/ipykernel_10407/399894368.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_KPI_Moto_by_Annee.rename({'Date':'Annee'},axis=1,inplace=True)
/var/folders/cv/qm8bnjl93dgclh5vdm1n1h1w0000gn/T/ipykernel_10407/399894368.py:16: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_KPI_Moto_by_Quarter['Date']=pd.to_datetime(df_KPI_Moto_by_Quarter['Date'])

In [12]:
display(df_KPI_Moto_by_Annee.head(3))
display(df_KPI_Moto_by_Quarter.head(3))

,Annee,Revenus,Excédent brut d'exploitation,Marge d'exploitation,Rentabilité économique RoCE,Sales volume (deliveries to customers) units,Production volume units
0,2022,3176.0,257.0,0.080919,0.249,202895.0,215932.0
1,2021,2748.0,227.0,0.082606,0.219,194261.0,187500.0
2,2020,2284.0,103.0,0.045096,0.15,169272.0,168104.0

,Date,Annee,Quarter,Revenus,Excédent brut d'exploitation,Marge d'exploitation,Sales volume (deliveries to customers) units
0,2022-03-31,2022,1,799.0,108.0,0.135169,47403.0
1,2022-06-30,2022,2,864.0,127.0,0.146991,60152.0
2,2022-09-30,2022,3,822.0,87.0,0.105839,51778.0

In [13]:
df_KPI_Moto_by_Annee.to_csv('KPI_Moto_by_Annee.csv',index=False)
df_KPI_Moto_by_Quarter.to_csv('KPI_Moto_by_Quarter.csv',index=False)

In [14]:
df_KPI_Fin=df_KPI_Fin.transpose()
df_KPI_Fin['Date']=df_KPI_Fin.index
headers = df_KPI_Fin.iloc[0]
df_KPI_Fin = pd.DataFrame(df_KPI_Fin.values[1:],columns=headers)
df_KPI_Fin.rename(columns={'Indicateurs clés de performance':'Date'},inplace=True)
df_KPI_Fin = df_KPI_Fin.rename_axis(None, axis=1)
df_KPI_Fin_by_Annee = df_KPI_Fin.iloc[4::5, :]
df_KPI_Fin_by_Quarter = df_KPI_Fin.drop(index=df_KPI_Fin_by_Annee.index)
df_KPI_Fin_by_Annee.reset_index(inplace=True,drop=True)
df_KPI_Fin_by_Quarter.reset_index(inplace=True,drop=True)
df_KPI_Fin_by_Annee.rename({'Date':'Annee'},axis=1,inplace=True)

# Correction d'un erreur isolée dans le dataset
df_KPI_Fin_by_Quarter['Date'][12]='31/03/2019'

df_KPI_Fin_by_Quarter['Date']=pd.to_datetime(df_KPI_Fin_by_Quarter['Date'])
df_KPI_Fin_by_Quarter['Annee']=df_KPI_Fin_by_Quarter['Date'].dt.year
df_KPI_Fin_by_Quarter['Quarter']=df_KPI_Fin_by_Quarter['Date'].dt.quarter
df_KPI_Fin_by_Quarter=df_KPI_Fin_by_Quarter[['Date','Annee','Quarter','Revenus', "Excédent brut d'exploitation", 
                                             'Nouveaux contrats avec des particuliers']]
df_KPI_Fin_by_Annee=df_KPI_Fin_by_Annee[['Annee','Revenus', "Excédent brut d'exploitation", 'Rentabilité financière RoE',
       'Ratio de pénétration', 'Nouveaux contrats avec des particuliers']]

/var/folders/cv/qm8bnjl93dgclh5vdm1n1h1w0000gn/T/ipykernel_10407/2197496543.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_KPI_Fin_by_Annee.rename({'Date':'Annee'},axis=1,inplace=True)
/var/folders/cv/qm8bnjl93dgclh5vdm1n1h1w0000gn/T/ipykernel_10407/2197496543.py:16: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_KPI_Fin_by_Quarter['Date']=pd.to_datetime(df_KPI_Fin_by_Quarter['Date'])

In [15]:
display(df_KPI_Fin_by_Annee.head(3))
display(df_KPI_Fin_by_Quarter.head(3))

,Annee,Revenus,Excédent brut d'exploitation,Rentabilité financière RoE,Ratio de pénétration,Nouveaux contrats avec des particuliers
0,2022,35122.0,3163.0,0.179,0.41,1545490.0
1,2021,32867.0,3701.0,0.226,0.505,1956514.0
2,2020,30044.0,1721.0,0.112,0.498,1845271.0

,Date,Annee,Quarter,Revenus,Excédent brut d'exploitation,Nouveaux contrats avec des particuliers
0,2022-03-31,2022,1,8486.0,966.0,433429.0
1,2022-06-30,2022,2,8765.0,982.0,382019.0
2,2022-09-30,2022,3,8785.0,679.0,362838.0

In [16]:
df_KPI_Fin_by_Annee.to_csv('KPI_Fin_by_Annee.csv',index=False)
df_KPI_Fin_by_Quarter.to_csv('KPI_Fin_by_Quarter.csv',index=False)

## BMW - Unités vendues par zones géographiques

In [17]:
df2 = dico_df[1]
df2

,Type_zone,Annee,2022,2021,2020,2019,2018,2017,2016
0,Continent,Europe,878500.0,949100.0,913600.0,1081600.0,1097100.0,1101800.0,1092200.0
1,Pays,Allemagne,254300.0,266800.0,285000.0,330500.0,310600.0,295800.0,298900.0
2,Pays,GB,157300.0,164300.0,163200.0,233800.0,236800.0,241700.0,252400.0
3,Pays,Italie,67188.8,70602.0,62780.4,73587.5,76982.3,86222.5,82866.0
4,Pays,France,76787.2,75645.0,82821.8,81200.0,86915.5,91149.5,85233.6
5,Continent,Amerique,441500.0,451700.0,379700.0,472900.0,457100.0,451100.0,460400.0
6,Pays,USA,363500.0,368000.0,307900.0,375700.0,355400.0,353800.0,366500.0
7,Continent,Asie,1031032.0,1067914.0,986500.0,930804.0,871200.0,848826.0,747303.0
8,Pays,Chine,793532.0,847914.0,778400.0,724704.0,635800.0,595026.0,516803.0
9,Pays,Japon,88785.2,78166.5,62780.4,60900.0,76982.3,78832.0,75763.2
10,Continent,Autres continents,48600.0,52800.0,45379.0,52200.0,57892.0,61800.0,67700.0
11,Pays,Autres pays,598238.8,650086.5,582296.4,657112.5,703812.0,720996.0,689137.2

In [18]:
df2

,Type_zone,Annee,2022,2021,2020,2019,2018,2017,2016
0,Continent,Europe,878500.0,949100.0,913600.0,1081600.0,1097100.0,1101800.0,1092200.0
1,Pays,Allemagne,254300.0,266800.0,285000.0,330500.0,310600.0,295800.0,298900.0
2,Pays,GB,157300.0,164300.0,163200.0,233800.0,236800.0,241700.0,252400.0
3,Pays,Italie,67188.8,70602.0,62780.4,73587.5,76982.3,86222.5,82866.0
4,Pays,France,76787.2,75645.0,82821.8,81200.0,86915.5,91149.5,85233.6
5,Continent,Amerique,441500.0,451700.0,379700.0,472900.0,457100.0,451100.0,460400.0
6,Pays,USA,363500.0,368000.0,307900.0,375700.0,355400.0,353800.0,366500.0
7,Continent,Asie,1031032.0,1067914.0,986500.0,930804.0,871200.0,848826.0,747303.0
8,Pays,Chine,793532.0,847914.0,778400.0,724704.0,635800.0,595026.0,516803.0
9,Pays,Japon,88785.2,78166.5,62780.4,60900.0,76982.3,78832.0,75763.2
10,Continent,Autres continents,48600.0,52800.0,45379.0,52200.0,57892.0,61800.0,67700.0
11,Pays,Autres pays,598238.8,650086.5,582296.4,657112.5,703812.0,720996.0,689137.2

In [19]:
df_continent = df2[df2["Type_zone"] == "Continent"].drop(columns="Type_zone")
df_continent=df_continent.transpose()
df_continent.reset_index(level=0, inplace=True)
headers = df_continent.iloc[0]
df_continent = pd.DataFrame(df_continent.values[1:],columns=headers)
df_continent = df_continent.melt(id_vars=['Annee'])
df_continent.rename(columns={0: "Continents"}, inplace=True)
df_continent.rename(columns={"value": "unites_vendues"}, inplace=True);df_continent

   Annee         Continents unites_vendues
0   2022             Europe       878500.0
1   2021             Europe       949100.0
2   2020             Europe       913600.0
3   2019             Europe      1081600.0
4   2018             Europe      1097100.0
5   2017             Europe      1101800.0
6   2016             Europe      1092200.0
7   2022           Amerique       441500.0
8   2021           Amerique       451700.0
9   2020           Amerique       379700.0
10  2019           Amerique       472900.0
11  2018           Amerique       457100.0
12  2017           Amerique       451100.0
13  2016           Amerique       460400.0
14  2022               Asie      1031032.0
15  2021               Asie      1067914.0
16  2020               Asie       986500.0
17  2019               Asie       930804.0
18  2018               Asie       871200.0
19  2017               Asie       848826.0
20  2016               Asie       747303.0
21  2022  Autres continents        48600.0
22  2021  Autres continents        52800.0
23  2020  Autres continents        45379.0
24  2019  Autres continents        52200.0
25  2018  Autres continents        57892.0
26  2017  Autres continents        61800.0
27  2016  Autres continents        67700.0

In [20]:
df_continent.to_csv("unites_vendues_auto_continent.csv",index=False)

In [21]:
df_pays = df2[df2["Type_zone"] == "Pays"].drop(columns="Type_zone")
df_pays=df_pays.transpose()
df_pays.reset_index(level=0, inplace=True)
headers = df_pays.iloc[0]
df_pays = pd.DataFrame(df_pays.values[1:],columns=headers)
df_pays = df_pays.melt(id_vars=['Annee'])
df_pays.rename(columns={0: "Pays"}, inplace=True)
df_pays.rename(columns={"value": "unites_vendues"}, inplace=True);df_pays

   Annee         Pays unites_vendues
0   2022    Allemagne       254300.0
1   2021    Allemagne       266800.0
2   2020    Allemagne       285000.0
3   2019    Allemagne       330500.0
4   2018    Allemagne       310600.0
5   2017    Allemagne       295800.0
6   2016    Allemagne       298900.0
7   2022           GB       157300.0
8   2021           GB       164300.0
9   2020           GB       163200.0
10  2019           GB       233800.0
11  2018           GB       236800.0
12  2017           GB       241700.0
13  2016           GB       252400.0
14  2022       Italie        67188.8
15  2021       Italie        70602.0
16  2020       Italie        62780.4
17  2019       Italie        73587.5
18  2018       Italie        76982.3
19  2017       Italie        86222.5
20  2016       Italie        82866.0
21  2022       France        76787.2
22  2021       France        75645.0
23  2020       France        82821.8
24  2019       France        81200.0
25  2018       France        86915.5
26  2017       France        91149.5
27  2016       France        85233.6
28  2022          USA       363500.0
29  2021          USA       368000.0
30  2020          USA       307900.0
31  2019          USA       375700.0
32  2018          USA       355400.0
33  2017          USA       353800.0
34  2016          USA       366500.0
35  2022        Chine       793532.0
36  2021        Chine       847914.0
37  2020        Chine       778400.0
38  2019        Chine       724704.0
39  2018        Chine       635800.0
40  2017        Chine       595026.0
41  2016        Chine       516803.0
42  2022        Japon        88785.2
43  2021        Japon        78166.5
44  2020        Japon        62780.4
45  2019        Japon        60900.0
46  2018        Japon        76982.3
47  2017        Japon        78832.0
48  2016        Japon        75763.2
49  2022  Autres pays       598238.8
50  2021  Autres pays       650086.5
51  2020  Autres pays       582296.4
52  2019  Autres pays       657112.5
53  2018  Autres pays       703812.0
54  2017  Autres pays       720996.0
55  2016  Autres pays       689137.2

In [22]:
df_pays.to_csv("unites_vendues_auto_pays.csv",index=False)

## BMW_sales_volume_production_auto

In [23]:
df3=dico_df[2]
df3

,Type,Indicateurs,2022-03-31 00:00:00,2022-06-30 00:00:00,2022-09-30 00:00:00,2022-12-31 00:00:00,2022,2021-03-31 00:00:00,2021-06-30 00:00:00,2021-09-30 00:00:00,...,31/03/2017,30/06/2017,30/09/2017,31/12/2017,2017,31/03/2016,30/06/2016,30/09/2016,31/12/2016,2016
0,Sales volume (deliveries to customers),BMW,519 796,496 432,517 638,566 823,2 100 689,560 543,617 667,524 858,...,503 445,534 585,499 467,550 786,2 088 283,478 743,507 814,493 379,523 423,2 003 359
1,Sales volume (deliveries to customers),MINI,75 487,65 188,68 596,83 651,292 922,74 683,83 165,66 990,...,83 059,98 155,90 180,100 487,371 881,78 311,96 587,89 179,96 156,360 233
2,Sales volume (deliveries to customers),Rolls-Royce,1 624,1 567,1 510,1 320,6 021,1 380,1 609,1 329,...,733,842,768,1 019,3 362,551,1 133,941,1 386,4 011
3,Sales volume (deliveries to customers),Total,596 907,563 187,587 744,651 794,2 399 632,636 606,702 441,593 177,...,587 237,633 582,590 415,652 292,2 463 526,557 605,605 534,583 499,620 965,2 367 603
4,Production volume,BMW,NaN,NaN,NaN,NaN,2 089 801,NaN,NaN,NaN,...,549 175,517 791,526 092,530 889,2 123 947,490 549,529 800,507 024,475 624,2 002 997
5,Production volume,MINI,NaN,NaN,NaN,NaN,286 265,NaN,NaN,NaN,...,97 899,95 962,87 730,96 895,378 486,89 057,102 648,85 784,75 091,352 580
6,Production volume,Rolls-Royce,NaN,NaN,NaN,NaN,6 239,NaN,NaN,NaN,...,855,782,709,962,3 308,701,1 102,939,1 437,4 179
7,Production volume,Total,NaN,NaN,NaN,NaN,2 382 305,NaN,NaN,NaN,...,647 929,614 535,614 531,628 746,2 505 741,580 307,633 550,593 747,552 152,2 359 756
8,Sales volume_Moto,NaN,47 403,60 152,51 778,43 562,202 895,42 592,65 018,48 999,...,35 636,52 753,39 429,36 335,164 153,33 788,46 966,35 290,28 988,145 032
9,Production volume_Moto,NaN,NaN,NaN,NaN,NaN,215 932,NaN,NaN,NaN,...,54 466,51 086,41 443,38 687,185 682,40 280,44 105,31 458,29 712,145 555

In [24]:

df3['Type'] = df3['Type'].replace('Sales volume (deliveries to customers)','Sales volume')
grouped = df3.groupby(df3.Type)
df3_vente = grouped.get_group("Sales volume") #séparation en vente et en production
df3_production= grouped.get_group("Production volume")
df3_sales_moto= grouped.get_group("Sales volume_Moto")

In [25]:
df3_sales_moto

,Type,Indicateurs,2022-03-31 00:00:00,2022-06-30 00:00:00,2022-09-30 00:00:00,2022-12-31 00:00:00,2022,2021-03-31 00:00:00,2021-06-30 00:00:00,2021-09-30 00:00:00,...,31/03/2017,30/06/2017,30/09/2017,31/12/2017,2017,31/03/2016,30/06/2016,30/09/2016,31/12/2016,2016
8,Sales volume_Moto,NaN,47 403,60 152,51 778,43 562,202 895,42 592,65 018,48 999,...,35 636,52 753,39 429,36 335,164 153,33 788,46 966,35 290,28 988,145 032

In [26]:
df3_vente

,Type,Indicateurs,2022-03-31 00:00:00,2022-06-30 00:00:00,2022-09-30 00:00:00,2022-12-31 00:00:00,2022,2021-03-31 00:00:00,2021-06-30 00:00:00,2021-09-30 00:00:00,...,31/03/2017,30/06/2017,30/09/2017,31/12/2017,2017,31/03/2016,30/06/2016,30/09/2016,31/12/2016,2016
0,Sales volume,BMW,519 796,496 432,517 638,566 823,2 100 689,560 543,617 667,524 858,...,503 445,534 585,499 467,550 786,2 088 283,478 743,507 814,493 379,523 423,2 003 359
1,Sales volume,MINI,75 487,65 188,68 596,83 651,292 922,74 683,83 165,66 990,...,83 059,98 155,90 180,100 487,371 881,78 311,96 587,89 179,96 156,360 233
2,Sales volume,Rolls-Royce,1 624,1 567,1 510,1 320,6 021,1 380,1 609,1 329,...,733,842,768,1 019,3 362,551,1 133,941,1 386,4 011
3,Sales volume,Total,596 907,563 187,587 744,651 794,2 399 632,636 606,702 441,593 177,...,587 237,633 582,590 415,652 292,2 463 526,557 605,605 534,583 499,620 965,2 367 603

In [27]:
df3_vente.rename(columns = {'Indicateurs':'Date'}, inplace = True) #on renomme la colonne modele en date en prévision de la transposition
df3_vente =df3_vente.drop(['Type'], axis=1) #supression de la colonne indicateur unite
df3_vente=df3_vente.transpose() #transposition
df3_vente['Date']=df3_vente.index #les indexes sont définis comme une colonne à part entière
headers = df3_vente.iloc[0] #définition des entêtes
df3_vente  = pd.DataFrame(df3_vente.values[1:], columns=headers)#recréation du df avec les bonnes entêtes
df3_vente.rename(columns = {'BMW':'BMW_model'}, inplace = True) #on renomme la colonne modele en date en prévision de la transposition
df3_vente = df3_vente.rename_axis(None, axis=1) #suppression du nom de la colonne des indexes
df3_vente['Date'][15]='31/03/2019'  #correction de la date
df3_vente_Annee = df3_vente.iloc[4::5, :] #sélection d'une ligne toutes les 4 lignes afin de n'extraire que les années et création d'un nouveau dataset
df3_vente_Quarter = df3_vente.drop(index=df3_vente_Annee.index) #création du dataset uniquement avec les trimestres
df3_vente_Annee.reset_index(inplace=True,drop=True) #réinitialisation des indexes
df3_vente_Quarter.reset_index(inplace=True,drop=True)
df3_vente_Quarter['Date']=pd.to_datetime(df3_vente_Quarter['Date'])
df3_vente_Quarter['Annee']=df3_vente_Quarter['Date'].dt.year
df3_vente_Quarter['Quarter']=df3_vente_Quarter['Date'].dt.quarter
df3_vente_Quarter=df3_vente_Quarter[['Date','Annee','Quarter','BMW_model', 'MINI', 'Rolls-Royce']]
df3_vente_Quarter

/var/folders/cv/qm8bnjl93dgclh5vdm1n1h1w0000gn/T/ipykernel_10407/1503163186.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_vente.rename(columns = {'Indicateurs':'Date'}, inplace = True) #on renomme la colonne modele en date en prévision de la transposition
/var/folders/cv/qm8bnjl93dgclh5vdm1n1h1w0000gn/T/ipykernel_10407/1503163186.py:14: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df3_vente_Quarter['Date']=pd.to_datetime(df3_vente_Quarter['Date'])

         Date  Annee  Quarter BMW_model     MINI Rolls-Royce
0  2022-03-31   2022        1   519 796   75 487       1 624
1  2022-06-30   2022        2   496 432   65 188       1 567
2  2022-09-30   2022        3   517 638   68 596       1 510
3  2022-12-31   2022        4   566 823   83 651       1 320
4  2021-03-31   2021        1   560 543   74 683       1 380
5  2021-06-30   2021        2   617 667   83 165       1 609
6  2021-09-30   2021        3   524 858   66 990       1 329
7  2021-12-31   2021        4   510 722   77 300       1 268
8  2020-03-31   2020        1   411 695   64 295         853
9  2020-06-30   2020        2   430 660   54 694         707
10 2020-09-30   2020        3   585 505   89 402       1 091
11 2020-12-31   2020        4   600 981   84 191       1 105
12 2019-03-31   2019        1   515 297   84 145       1 172
13 2019-06-30   2019        2   560 189   88 337       1 330
14 2019-09-30   2019        3   533 215   87 561       1 205
15 2019-12-31   2019        4   576 238   87 422       1 393
16 2018-03-31   2018        1   517 447   86 375         807
17 2018-06-30   2018        2   541 849   95 055         974
18 2018-09-30   2018        3   506 920   84 505         878
19 2018-12-31   2018        4   558 810   95 596       1 448
20 2017-03-31   2017        1   503 445   83 059         733
21 2017-06-30   2017        2   534 585   98 155         842
22 2017-09-30   2017        3   499 467   90 180         768
23 2017-12-31   2017        4   550 786  100 487       1 019
24 2016-03-31   2016        1   478 743   78 311         551
25 2016-06-30   2016        2   507 814   96 587       1 133
26 2016-09-30   2016        3   493 379   89 179         941
27 2016-12-31   2016        4   523 423   96 156       1 386

In [28]:
df3_vente_Quarter2=pd.melt(df3_vente_Quarter, id_vars =['Annee','Quarter','Date'],var_name ='modele', value_name ='unites_vendues')
df3_vente_Quarter2.to_csv('vente_Quarter.csv',index=False)

In [29]:
df3_vente_Quarter2

    Annee  Quarter       Date       modele unites_vendues
0    2022        1 2022-03-31    BMW_model        519 796
1    2022        2 2022-06-30    BMW_model        496 432
2    2022        3 2022-09-30    BMW_model        517 638
3    2022        4 2022-12-31    BMW_model        566 823
4    2021        1 2021-03-31    BMW_model        560 543
..    ...      ...        ...          ...            ...
79   2017        4 2017-12-31  Rolls-Royce          1 019
80   2016        1 2016-03-31  Rolls-Royce            551
81   2016        2 2016-06-30  Rolls-Royce          1 133
82   2016        3 2016-09-30  Rolls-Royce            941
83   2016        4 2016-12-31  Rolls-Royce          1 386

[84 rows x 5 columns]

In [30]:
df3_production

,Type,Indicateurs,2022-03-31 00:00:00,2022-06-30 00:00:00,2022-09-30 00:00:00,2022-12-31 00:00:00,2022,2021-03-31 00:00:00,2021-06-30 00:00:00,2021-09-30 00:00:00,...,31/03/2017,30/06/2017,30/09/2017,31/12/2017,2017,31/03/2016,30/06/2016,30/09/2016,31/12/2016,2016
4,Production volume,BMW,NaN,NaN,NaN,NaN,2 089 801,NaN,NaN,NaN,...,549 175,517 791,526 092,530 889,2 123 947,490 549,529 800,507 024,475 624,2 002 997
5,Production volume,MINI,NaN,NaN,NaN,NaN,286 265,NaN,NaN,NaN,...,97 899,95 962,87 730,96 895,378 486,89 057,102 648,85 784,75 091,352 580
6,Production volume,Rolls-Royce,NaN,NaN,NaN,NaN,6 239,NaN,NaN,NaN,...,855,782,709,962,3 308,701,1 102,939,1 437,4 179
7,Production volume,Total,NaN,NaN,NaN,NaN,2 382 305,NaN,NaN,NaN,...,647 929,614 535,614 531,628 746,2 505 741,580 307,633 550,593 747,552 152,2 359 756

In [31]:
#df3_production_Annee
#df3_production_Quarter['Date']=pd.to_datetime(df3_production_Quarter['Date'])
#df3_production_Quarter['Annee']=df3_production_Quarter['Date'].dt.year
#df3_production_Quarter['Quarter']=df3_production_Quarter['Date'].dt.quarter
#df3_production_Quarter=df3_production_Quarter[['Date','Annee','Quarter','BMW', 'MINI', 'Rolls-Royce']]
#df3_production_Quarter
#df3_production_Quarter=pd.melt(df3_production_Quarter, id_vars =['Annee','Quarter','Date'],var_name ='modele', value_name ='unites_vendues')

#df3_production_Quarter.to_csv('production_Quarter.csv',index=False)

In [32]:
df3_production.rename(columns = {'Indicateurs':'Date'}, inplace = True) #on renomme la colonne modele en date en prévision de la transposition
df3_production =df3_production.drop(['Type'], axis=1) #supression de la colonne indicateur unite
df3_production=df3_production.transpose() #transposition
df3_production['Date']=df3_production.index #les indexes sont définis comme une colonne à part entière
headers = df3_production.iloc[0] #définition des entêtes
df3_production  = pd.DataFrame(df3_production.values[1:], columns=headers)#recréation du df avec les bonnes entêtes
df3_production.rename(columns = {'BMW':'BMW_model'}, inplace = True) #on renomme la colonne modele en date en prévision de la transposition
df3_production = df3_production.rename_axis(None, axis=1) #suppression du nom de la colonne des indexes
df3_production['Date'][15]='31/03/2019'  #correction de la date
df3_production_Annee = df3_production.iloc[4::5, :] #sélection d'une ligne toutes les 4 lignes afin de n'extraire que les années et création d'un nouveau dataset
df3_production_Quarter = df3_production.drop(index=df3_production_Annee.index) #création du dataset uniquement avec les trimestres
df3_production_Annee.reset_index(inplace=True,drop=True) #éinitialisation des indexes
df3_production_Quarter.reset_index(inplace=True,drop=True)
df3_production_Quarter['Date']=pd.to_datetime(df3_production_Quarter['Date'])
df3_production_Quarter['Annee']=df3_production_Quarter['Date'].dt.year
df3_production_Quarter['Quarter']=df3_production_Quarter['Date'].dt.quarter
df3_production_Quarter=df3_production_Quarter[['Date','Annee','Quarter','BMW_model', 'MINI', 'Rolls-Royce']]
df3_production_Quarter
df3_production_Quarter=pd.melt(df3_production_Quarter, id_vars =['Annee','Quarter','Date'],var_name ='modele', value_name ='unites_vendues')

df3_production_Quarter.to_csv('production_Quarter.csv',index=False)

/var/folders/cv/qm8bnjl93dgclh5vdm1n1h1w0000gn/T/ipykernel_10407/394698770.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_production.rename(columns = {'Indicateurs':'Date'}, inplace = True) #on renomme la colonne modele en date en prévision de la transposition
/var/folders/cv/qm8bnjl93dgclh5vdm1n1h1w0000gn/T/ipykernel_10407/394698770.py:14: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df3_production_Quarter['Date']=pd.to_datetime(df3_production_Quarter['Date'])

In [33]:
df3_production_Quarter=pd.melt(df3_production_Quarter, id_vars =['Annee','Quarter','Date'],var_name ='modele', value_name ='unites_vendues')

df3_production_Quarter.to_csv('production_Quarter.csv',index=False)
df3_production_Quarter

/var/folders/cv/qm8bnjl93dgclh5vdm1n1h1w0000gn/T/ipykernel_10407/1678192666.py:1: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  df3_production_Quarter=pd.melt(df3_production_Quarter, id_vars =['Annee','Quarter','Date'],var_name ='modele', value_name ='unites_vendues')

     Annee  Quarter       Date          modele unites_vendues
0     2022        1 2022-03-31          modele      BMW_model
1     2022        2 2022-06-30          modele      BMW_model
2     2022        3 2022-09-30          modele      BMW_model
3     2022        4 2022-12-31          modele      BMW_model
4     2021        1 2021-03-31          modele      BMW_model
..     ...      ...        ...             ...            ...
163   2017        4 2017-12-31  unites_vendues            962
164   2016        1 2016-03-31  unites_vendues            701
165   2016        2 2016-06-30  unites_vendues          1 102
166   2016        3 2016-09-30  unites_vendues            939
167   2016        4 2016-12-31  unites_vendues          1 437

[168 rows x 5 columns]

In [34]:
df3_sales_moto

,Type,Indicateurs,2022-03-31 00:00:00,2022-06-30 00:00:00,2022-09-30 00:00:00,2022-12-31 00:00:00,2022,2021-03-31 00:00:00,2021-06-30 00:00:00,2021-09-30 00:00:00,...,31/03/2017,30/06/2017,30/09/2017,31/12/2017,2017,31/03/2016,30/06/2016,30/09/2016,31/12/2016,2016
8,Sales volume_Moto,NaN,47 403,60 152,51 778,43 562,202 895,42 592,65 018,48 999,...,35 636,52 753,39 429,36 335,164 153,33 788,46 966,35 290,28 988,145 032

In [35]:
df3_sales_moto.rename(columns = {'Indicateurs':'Date'}, inplace = True) #on renomme la colonne modele en date en prévision de la transposition
df3_sales_moto =df3_sales_moto.drop(['Type'], axis=1) #supression de la colonne indicateur unite
df3_sales_moto =df3_sales_moto.drop(['Date'], axis=1) #supression de la colonne indicateur unite
df3_sales_moto=df3_sales_moto.transpose() #transposition
df3_sales_moto['Date']=df3_sales_moto.index #les indexes sont définis comme une colonne à part entière
df3_sales_moto.rename(columns = {8:'vente'}, inplace = True) #on renomme la colonne modele en date en prévision de la transposition
df3_sales_moto = df3_sales_moto.rename_axis(None, axis=1) #suppression du nom de la colonne des indexes
df3_sales_moto['Date'][15]='31/03/2019'  #correction de la date
df3_sales_moto = df3_sales_moto.iloc[5:]
df3_sales_moto_Annee = df3_sales_moto.iloc[4::5, :] #sélection d'une ligne toutes les 4 lignes afin de n'extraire que les années et création d'un nouveau dataset
df3_sales_moto_Quarter = df3_sales_moto.drop(index=df3_sales_moto_Annee.index) #création du dataset uniquement avec les trimestres
df3_sales_moto_Annee.reset_index(inplace=True,drop=True) #éinitialisation des indexes
df3_sales_moto_Quarter.reset_index(inplace=True,drop=True)
df3_sales_moto_Quarter['Date']=pd.to_datetime(df3_sales_moto_Quarter['Date'])
df3_sales_moto_Quarter['Annee']=df3_sales_moto_Quarter['Date'].dt.year
df3_sales_moto_Quarter['Quarter']=df3_sales_moto_Quarter['Date'].dt.quarter
df3_sales_moto_Quarter=df3_sales_moto_Quarter[['Date','Annee','Quarter','vente']]
df3_sales_moto_Quarter.to_csv('sales_moto_Quarter.csv',index=False)
df3_sales_moto_Quarter

/var/folders/cv/qm8bnjl93dgclh5vdm1n1h1w0000gn/T/ipykernel_10407/3753319774.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_sales_moto.rename(columns = {'Indicateurs':'Date'}, inplace = True) #on renomme la colonne modele en date en prévision de la transposition
/var/folders/cv/qm8bnjl93dgclh5vdm1n1h1w0000gn/T/ipykernel_10407/3753319774.py:8: FutureWarning: Treating integers as positional in Series.__setitem__ with a Float64Index is deprecated. In a future version, `series[an_int] = val` will insert a new key into the Series. Use `series.iloc[an_int] = val` to treat the key as positional.
  df3_sales_moto['Date'][15]='31/03/2019'  #correction de la date
/var/folders/cv/qm8bnjl93dgclh5vdm1n1h1w0000gn/T/ipykernel_10407/3753319774.py:14: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df3_sales_moto_Quarter['Date']=pd.to_datetime(df3_sales_moto_Quarter['Date'])

         Date  Annee  Quarter   vente
0  2021-03-31   2021        1  42 592
1  2021-06-30   2021        2  65 018
2  2021-09-30   2021        3  48 999
3  2021-12-31   2021        4  37 652
4  2020-03-31   2020        1  34 774
5  2020-06-30   2020        2  41 933
6  2020-09-30   2020        3  52 892
7  2020-12-31   2020        4  39 673
8  2019-03-31   2019        1  38 606
9  2019-06-30   2019        2  54 582
10 2019-09-30   2019        3  43 744
11 2019-12-31   2019        4  38 230
12 2018-03-31   2018        1  35 858
13 2018-06-30   2018        2  51 117
14 2018-09-30   2018        3  39 818
15 2018-12-31   2018        4  38 773
16 2017-03-31   2017        1  35 636
17 2017-06-30   2017        2  52 753
18 2017-09-30   2017        3  39 429
19 2017-12-31   2017        4  36 335
20 2016-03-31   2016        1  33 788
21 2016-06-30   2016        2  46 966
22 2016-09-30   2016        3  35 290
23 2016-12-31   2016        4  28 988

In [36]:
df3_sales_moto_Quarter.to_csv('sales_moto_Quarter.csv',index=False)

In [41]:
df3_vente

    BMW_model     MINI Rolls-Royce      Total                 Date
0     519 796   75 487       1 624    596 907  2022-03-31 00:00:00
1     496 432   65 188       1 567    563 187  2022-06-30 00:00:00
2     517 638   68 596       1 510    587 744  2022-09-30 00:00:00
3     566 823   83 651       1 320    651 794  2022-12-31 00:00:00
4   2 100 689  292 922       6 021  2 399 632                 2022
5     560 543   74 683       1 380    636 606  2021-03-31 00:00:00
6     617 667   83 165       1 609    702 441  2021-06-30 00:00:00
7     524 858   66 990       1 329    593 177  2021-09-30 00:00:00
8     510 722   77 300       1 268    589 290  2021-12-31 00:00:00
9   2 213 790  302 138       5 586  2 521 514                 2021
10    411 695   64 295         853    476 843  2020-03-31 00:00:00
11    430 660   54 694         707    486 061  2020-06-30 00:00:00
12    585 505   89 402       1 091    675 998  2020-09-30 00:00:00
13    600 981   84 191       1 105    686 277  2020-12-31 00:00:00
14  2 028 841  292 582       3 756  2 325 179                 2020
15    515 297   84 145       1 172    600 614           31/03/2019
16    560 189   88 337       1 330    649 856           30/06/2019
17    533 215   87 561       1 205    621 981           30/09/2019
18    576 238   87 422       1 393    665 053           31/12/2019
19  2 184 939  347 465       5 100  2 537 504                 2019
20    517 447   86 375         807    604 629           31/03/2018
21    541 849   95 055         974    637 878           30/06/2018
22    506 920   84 505         878    592 303           30/09/2018
23    558 810   95 596       1 448    655 854           31/12/2018
24  2 125 026  361 531       4 107  2 490 664                 2018
25    503 445   83 059         733    587 237           31/03/2017
26    534 585   98 155         842    633 582           30/06/2017
27    499 467   90 180         768    590 415           30/09/2017
28    550 786  100 487       1 019    652 292           31/12/2017
29  2 088 283  371 881       3 362  2 463 526                 2017
30    478 743   78 311         551    557 605           31/03/2016
31    507 814   96 587       1 133    605 534           30/06/2016
32    493 379   89 179         941    583 499           30/09/2016
33    523 423   96 156       1 386    620 965           31/12/2016
34  2 003 359  360 233       4 011  2 367 603                 2016

In [43]:
df3_vente_Annee = df3_vente.iloc[4::5, :]
#df_KPI_Auto_by_Quarter = df_KPI_Auto.drop(index=df_KPI_Auto_by_Year.index)



#df3_vente['year']= pd.to_datetime(df3_vente['year'])
#df3_vente['year'] = pd.to_datetime(df3_vente['year'], format='%Y')

#df3_vente['year']= df3_vente['year'].dt.year
df3_vente_Annee

    BMW_model     MINI Rolls-Royce      Total  Date
4   2 100 689  292 922       6 021  2 399 632  2022
9   2 213 790  302 138       5 586  2 521 514  2021
14  2 028 841  292 582       3 756  2 325 179  2020
19  2 184 939  347 465       5 100  2 537 504  2019
24  2 125 026  361 531       4 107  2 490 664  2018
29  2 088 283  371 881       3 362  2 463 526  2017
34  2 003 359  360 233       4 011  2 367 603  2016

In [44]:
df3_vente_Quarter = df3_vente.drop(index=df3_vente_Annee.index)
df3_vente_Quarter

   BMW_model     MINI Rolls-Royce    Total                 Date
0    519 796   75 487       1 624  596 907  2022-03-31 00:00:00
1    496 432   65 188       1 567  563 187  2022-06-30 00:00:00
2    517 638   68 596       1 510  587 744  2022-09-30 00:00:00
3    566 823   83 651       1 320  651 794  2022-12-31 00:00:00
5    560 543   74 683       1 380  636 606  2021-03-31 00:00:00
6    617 667   83 165       1 609  702 441  2021-06-30 00:00:00
7    524 858   66 990       1 329  593 177  2021-09-30 00:00:00
8    510 722   77 300       1 268  589 290  2021-12-31 00:00:00
10   411 695   64 295         853  476 843  2020-03-31 00:00:00
11   430 660   54 694         707  486 061  2020-06-30 00:00:00
12   585 505   89 402       1 091  675 998  2020-09-30 00:00:00
13   600 981   84 191       1 105  686 277  2020-12-31 00:00:00
15   515 297   84 145       1 172  600 614           31/03/2019
16   560 189   88 337       1 330  649 856           30/06/2019
17   533 215   87 561       1 205  621 981           30/09/2019
18   576 238   87 422       1 393  665 053           31/12/2019
20   517 447   86 375         807  604 629           31/03/2018
21   541 849   95 055         974  637 878           30/06/2018
22   506 920   84 505         878  592 303           30/09/2018
23   558 810   95 596       1 448  655 854           31/12/2018
25   503 445   83 059         733  587 237           31/03/2017
26   534 585   98 155         842  633 582           30/06/2017
27   499 467   90 180         768  590 415           30/09/2017
28   550 786  100 487       1 019  652 292           31/12/2017
30   478 743   78 311         551  557 605           31/03/2016
31   507 814   96 587       1 133  605 534           30/06/2016
32   493 379   89 179         941  583 499           30/09/2016
33   523 423   96 156       1 386  620 965           31/12/2016

In [45]:
df3_vente_Annee.reset_index(inplace=True,drop=True)
df3_vente_Quarter.reset_index(inplace=True,drop=True)

In [46]:
df3_vente_Quarter['Date']=pd.to_datetime(df3_vente_Quarter['Date'])
df3_vente_Quarter['Annee']=df3_vente_Quarter['Date'].dt.year
df3_vente_Quarter['Quarter']=df3_vente_Quarter['Date'].dt.quarter
df3_vente_Quarter.drop('Date',axis=1,inplace=True)
df3_vente_Quarter

/var/folders/cv/qm8bnjl93dgclh5vdm1n1h1w0000gn/T/ipykernel_10407/3436669212.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df3_vente_Quarter['Date']=pd.to_datetime(df3_vente_Quarter['Date'])

   BMW_model     MINI Rolls-Royce    Total  Annee  Quarter
0    519 796   75 487       1 624  596 907   2022        1
1    496 432   65 188       1 567  563 187   2022        2
2    517 638   68 596       1 510  587 744   2022        3
3    566 823   83 651       1 320  651 794   2022        4
4    560 543   74 683       1 380  636 606   2021        1
5    617 667   83 165       1 609  702 441   2021        2
6    524 858   66 990       1 329  593 177   2021        3
7    510 722   77 300       1 268  589 290   2021        4
8    411 695   64 295         853  476 843   2020        1
9    430 660   54 694         707  486 061   2020        2
10   585 505   89 402       1 091  675 998   2020        3
11   600 981   84 191       1 105  686 277   2020        4
12   515 297   84 145       1 172  600 614   2019        1
13   560 189   88 337       1 330  649 856   2019        2
14   533 215   87 561       1 205  621 981   2019        3
15   576 238   87 422       1 393  665 053   2019        4
16   517 447   86 375         807  604 629   2018        1
17   541 849   95 055         974  637 878   2018        2
18   506 920   84 505         878  592 303   2018        3
19   558 810   95 596       1 448  655 854   2018        4
20   503 445   83 059         733  587 237   2017        1
21   534 585   98 155         842  633 582   2017        2
22   499 467   90 180         768  590 415   2017        3
23   550 786  100 487       1 019  652 292   2017        4
24   478 743   78 311         551  557 605   2016        1
25   507 814   96 587       1 133  605 534   2016        2
26   493 379   89 179         941  583 499   2016        3
27   523 423   96 156       1 386  620 965   2016        4

In [47]:
df3_vente_Quarter.to_csv("sales_volume.csv",index=False)

## Unités de motos vendues

In [48]:
df4=dico_df[3]
df4

       Annee     2022     2021     2020      2019     2018     2017     2016
0  Allemagne  24145.1  26036.2  27595.9  26280.00  23846.4  26600.4  24940.0
1     France  21304.5  19818.6  17607.2  17344.80  16560.0  16584.2  11890.0
2     Italie  15623.3  16126.9  13882.6  15592.80  14076.0  14449.6  12325.0
3        USA  17652.3  16126.9  12189.6  13315.20  13910.4  13628.6  13775.0
4      Chine  15420.4  14378.2  11851.0  12299.04  11923.2  11494.0  10295.0
5     Bresil  12985.6  11075.1  10665.9   9986.40   9273.6   9359.4   8337.5
6    Espagne  12579.8  12629.5  11004.5  12614.40  11095.2  11165.6   9570.0
7     Autres  83189.0  78108.6  64503.3  67767.36  64915.2  60918.2  53867.5

In [49]:
df4=df4.transpose()

df4['Annee']=df4.index

headers = df4.iloc[0]

df4 = pd.DataFrame(df4.values[1:],columns=headers)

df4 = df4.rename_axis(None, axis=1)

df4 = df4.melt(id_vars=['Annee'])

df4.rename({'variable':'Pays','value':'unites_vendues'},axis=1,inplace=True)

df4

   Annee       Pays unites_vendues
0   2022  Allemagne        24145.1
1   2021  Allemagne        26036.2
2   2020  Allemagne        27595.9
3   2019  Allemagne        26280.0
4   2018  Allemagne        23846.4
5   2017  Allemagne        26600.4
6   2016  Allemagne        24940.0
7   2022     France        21304.5
8   2021     France        19818.6
9   2020     France        17607.2
10  2019     France        17344.8
11  2018     France        16560.0
12  2017     France        16584.2
13  2016     France        11890.0
14  2022     Italie        15623.3
15  2021     Italie        16126.9
16  2020     Italie        13882.6
17  2019     Italie        15592.8
18  2018     Italie        14076.0
19  2017     Italie        14449.6
20  2016     Italie        12325.0
21  2022        USA        17652.3
22  2021        USA        16126.9
23  2020        USA        12189.6
24  2019        USA        13315.2
25  2018        USA        13910.4
26  2017        USA        13628.6
27  2016        USA        13775.0
28  2022      Chine        15420.4
29  2021      Chine        14378.2
30  2020      Chine        11851.0
31  2019      Chine       12299.04
32  2018      Chine        11923.2
33  2017      Chine        11494.0
34  2016      Chine        10295.0
35  2022     Bresil        12985.6
36  2021     Bresil        11075.1
37  2020     Bresil        10665.9
38  2019     Bresil         9986.4
39  2018     Bresil         9273.6
40  2017     Bresil         9359.4
41  2016     Bresil         8337.5
42  2022    Espagne        12579.8
43  2021    Espagne        12629.5
44  2020    Espagne        11004.5
45  2019    Espagne        12614.4
46  2018    Espagne        11095.2
47  2017    Espagne        11165.6
48  2016    Espagne         9570.0
49  2022     Autres        83189.0
50  2021     Autres        78108.6
51  2020     Autres        64503.3
52  2019     Autres       67767.36
53  2018     Autres        64915.2
54  2017     Autres        60918.2
55  2016     Autres        53867.5

In [50]:
df4.to_csv('unites_vendues_moto.csv', index=False)

In [51]:
df5=dico_df[4]
df5

,Type,Group,Group.1,Group.2,Group.3,Group.4,Group.5,Automotive,Automotive.1,Automotive.2,...,Motorcycles.2,Motorcycles.3,Motorcycles.4,Motorcycles.5,Financial Services,Financial Services.1,Financial Services.2,Financial Services.3,Financial Services.4,Financial Services.5
0,Année,2021,2020,2019,2018,2017,2016,2021.0,2020.0,2019.0,...,2019.0,2018.0,2017.0,2016.0,2021.0,2020.0,2019.0,2018.0,2017.0,2016.0
1,Immobilisations incorporelles,12980,12342,11729,10971,9464,8157,12438.0,11809.0,11212.0,...,127.0,95.0,57.0,46.0,374.0,377.0,389.0,403.0,425.0,405.0
2,Immobilisations corporelles,22390,21850,23245,19801,18471,17960,21885.0,21371.0,22749.0,...,407.0,399.0,388.0,365.0,67.0,78.0,89.0,30.0,33.0,29.0
3,Produits loués,44700,41995,42609,38572,36257,37789,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,52017.0,48759.0,50348.0,46427.0,44285.0,45134.0
4,Participations comptabilisées,5112,3585,3199,2624,2769,2546,5112.0,3585.0,3199.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Autres investissements,1241,735,703,739,690,560,6061.0,4711.0,5144.0,...,NaN,NaN,NaN,NaN,21.0,20.0,1.0,1.0,2.0,3.0
6,Créances de financement des ventes,51712,48025,51030,48109,48321,48032,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,51808.0,48082.0,51079.0,48109.0,48321.0,48032.0
7,Actifs financiers,7515,7752,7325,7685,10334,9770,5502.0,4711.0,4903.0,...,0.0,0.0,0.0,0.0,701.0,773.0,1148.0,1463.0,1707.0,1725.0
8,Taxe différée,2202,2459,2194,1590,1993,2327,3418.0,3196.0,3451.0,...,NaN,NaN,NaN,NaN,618.0,550.0,512.0,483.0,442.0,389.0
9,Autres actifs,10243,10326,12939,12277,9115,6682,37649.0,36608.0,35695.0,...,37.0,35.0,37.0,30.0,8074.0,8881.0,8457.0,9046.0,8413.0,8510.0
10,Inventaires,15928,14896,15891,13047,12707,11841,14868.0,13391.0,14404.0,...,679.0,568.0,580.0,492.0,404.0,818.0,808.0,17.0,24.0,5.0
11,Créances clients,2261,2298,2518,2546,2667,2825,2076.0,1979.0,2228.0,...,186.0,167.0,160.0,144.0,94.0,100.0,103.0,91.0,152.0,178.0
12,Créances de financement des ventes,35705,36252,41407,38674,32113,30228,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,35705.0,36252.0,41407.0,38674.0,32113.0,30228.0
13,Impôt actuel,1529,606,1209,1366,1566,1938,300.0,342.0,1000.0,...,NaN,NaN,NaN,NaN,83.0,64.0,84.0,79.0,55.0,44.0
14,Trésorerie et équivalents de trésorerie,16009,13537,12036,10979,9039,7880,12009.0,9522.0,9077.0,...,11.0,12.0,8.0,NaN,3471.0,2863.0,2075.0,1985.0,1856.0,3046.0
15,Total des actifs,229527,216658,228034,208980,195506,188535,121318.0,111225.0,113062.0,...,1447.0,1276.0,1230.0,1077.0,153437.0,147617.0,156500.0,146808.0,137828.0,137728.0

In [52]:
df5_to_transpose=df5



df5_to_transpose.columns = ['.'.join(col.split('.')[:-1]) if '.' in col else col for col in df5_to_transpose.columns]


df5_transpose=df5_to_transpose.transpose()

df5_transpose.reset_index(level=0, inplace=True)
headers = df5_transpose.iloc[0]
df5_transpose = pd.DataFrame(df5_transpose.values[1:],columns=headers);


df5_transpose['Année'] = df5_transpose['Année'].astype(str)
df5_transpose['Année'] = df5_transpose['Année'].str.split('.').str[0]
df5_transpose['Année'] = pd.to_datetime(df5_transpose['Année'], format='%Y').dt.to_period('Y')

df5_transpose.rename(columns={'Année': 'Annee'}, inplace=True)




df5_transpose.to_csv("Actifs_BMW.csv",index=False)
df5_transpose

,Type,Annee,Immobilisations incorporelles,Immobilisations corporelles,Produits loués,Participations comptabilisées,Autres investissements,Créances de financement des ventes,Actifs financiers,Taxe différée,Autres actifs,Inventaires,Créances clients,Créances de financement des ventes,Impôt actuel,Trésorerie et équivalents de trésorerie,Total des actifs
0,Group,2021,12980,22390,44700,5112,1241,51712,7515,2202,10243,15928,2261,35705,1529,16009,229527
1,Group,2020,12342,21850,41995,3585,735,48025,7752,2459,10326,14896,2298,36252,606,13537,216658
2,Group,2019,11729,23245,42609,3199,703,51030,7325,2194,12939,15891,2518,41407,1209,12036,228034
3,Group,2018,10971,19801,38572,2624,739,48109,7685,1590,12277,13047,2546,38674,1366,10979,208980
4,Group,2017,9464,18471,36257,2769,690,48321,10334,1993,9115,12707,2667,32113,1566,9039,195506
5,Group,2016,8157,17960,37789,2546,560,48032,9770,2327,6682,11841,2825,30228,1938,7880,188535
6,Automotive,2021,12438.0,21885.0,NaN,5112.0,6061.0,NaN,5502.0,3418.0,37649.0,14868.0,2076.0,NaN,300.0,12009.0,121318.0
7,Automotive,2020,11809.0,21371.0,NaN,3585.0,4711.0,NaN,4711.0,3196.0,36608.0,13391.0,1979.0,NaN,342.0,9522.0,111225.0
8,Automotive,2019,11212.0,22749.0,NaN,3199.0,5144.0,NaN,4903.0,3451.0,35695.0,14404.0,2228.0,NaN,1000.0,9077.0,113062.0
9,Automotive,2018,10472.0,19372.0,NaN,2624.0,4843.0,NaN,5204.0,3043.0,27562.0,12462.0,2287.0,NaN,618.0,8631.0,97118.0
10,Automotive,2017,8981.0,18050.0,NaN,2769.0,4985.0,NaN,6880.0,2857.0,26795.0,12103.0,2354.0,NaN,714.0,7157.0,93645.0
11,Automotive,2016,7705.0,17566.0,NaN,2546.0,5195.0,NaN,6149.0,4310.0,25604.0,11344.0,2502.0,NaN,1000.0,4794.0,88715.0
12,Motorcycles,2021,167.0,468.0,NaN,NaN,NaN,NaN,0.0,NaN,3.0,656.0,91.0,NaN,NaN,9.0,1394.0
13,Motorcycles,2020,155.0,401.0,NaN,NaN,NaN,NaN,0.0,NaN,35.0,687.0,219.0,NaN,NaN,5.0,1502.0
14,Motorcycles,2019,127.0,407.0,NaN,NaN,NaN,NaN,0.0,NaN,37.0,679.0,186.0,NaN,NaN,11.0,1447.0
15,Motorcycles,2018,95.0,399.0,NaN,NaN,NaN,NaN,0.0,NaN,35.0,568.0,167.0,NaN,NaN,12.0,1276.0
16,Motorcycles,2017,57.0,388.0,NaN,NaN,NaN,NaN,0.0,NaN,37.0,580.0,160.0,NaN,NaN,8.0,1230.0
17,Motorcycles,2016,46.0,365.0,NaN,NaN,NaN,NaN,0.0,NaN,30.0,492.0,144.0,NaN,NaN,NaN,1077.0
18,Financial Services,2021,374.0,67.0,52017.0,NaN,21.0,51808.0,701.0,618.0,8074.0,404.0,94.0,35705.0,83.0,3471.0,153437.0
19,Financial Services,2020,377.0,78.0,48759.0,NaN,20.0,48082.0,773.0,550.0,8881.0,818.0,100.0,36252.0,64.0,2863.0,147617.0
20,Financial Services,2019,389.0,89.0,50348.0,NaN,1.0,51079.0,1148.0,512.0,8457.0,808.0,103.0,41407.0,84.0,2075.0,156500.0
21,Financial Services,2018,403.0,30.0,46427.0,NaN,1.0,48109.0,1463.0,483.0,9046.0,17.0,91.0,38674.0,79.0,1985.0,146808.0
22,Financial Services,2017,425.0,33.0,44285.0,NaN,2.0,48321.0,1707.0,442.0,8413.0,24.0,152.0,32113.0,55.0,1856.0,137828.0
23,Financial Services,2016,405.0,29.0,45134.0,NaN,3.0,48032.0,1725.0,389.0,8510.0,5.0,178.0,30228.0,44.0,3046.0,137728.0

In [53]:
df6=dico_df[5]
df6

,Type,Group,Group.1,Group.2,Group.3,Group.4,Group.5,Automotive,Automotive.1,Automotive.2,...,Motorcycles.2,Motorcycles.3,Motorcycles.4,Motorcycles.5,Financial Services,Financial Services.1,Financial Services.2,Financial Services.3,Financial Services.4,Financial Services.5
0,année,2021,2020,2019,2018,2017,2016,2021.0,2020.0,2019.0,...,2019.0,2018.0,2017.0,2016.0,2021.0,2020.0,2019.0,2018.0,2017.0,2016.0
1,Capital souscrit,661,660,659,658,658,657,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Réserves de capital,2325,2199,2161,2118,2084,2047,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Réserves de revenus,71705,59550,57667,56121,50815,44445,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Autres capitaux propres accumulés,-325,-1518,-1163,-1338,114,-41,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Intérêts minoritaires,766,629,583,529,436,255,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Capitaux propres,75132,61520,59907,58088,54107,47363,50296.0,41117.0,40174.0,...,0.0,0.0,0.0,0.0,17324.0,15555.0,15545.0,14919.0,14740.0,11049.0
7,Provisions pour risques et charges,1247,3693,3335,2330,3252,4587,1073.0,3197.0,2820.0,...,96.0,64.0,69.0,83.0,35.0,49.0,47.0,49.0,72.0,77.0
8,autres provisions,13954,13982,13209,11854,11999,10918,13119.0,13228.0,12567.0,...,186.0,171.0,200.0,193.0,612.0,534.0,401.0,875.0,905.0,952.0
9,Taxe différée,1458,509,632,1806,2157,2795,1515.0,697.0,543.0,...,NaN,NaN,NaN,NaN,3426.0,2812.0,3804.0,4611.0,4302.0,6755.0
10,Passifs financiers,103463,106376,116740,103597,94648,97731,3709.0,2984.0,4609.0,...,0.0,NaN,NaN,NaN,43337.0,42908.0,45108.0,44875.0,42672.0,45086.0
11,Autres passifs,22420,21187,23066,20416,18488,15555,41256.0,42100.0,42831.0,...,752.0,693.0,606.0,498.0,87669.0,84675.0,90468.0,80321.0,74055.0,72852.0
12,Impôt actuel,921,747,963,1158,1124,1074,700.0,537.0,704.0,...,NaN,NaN,NaN,NaN,140.0,192.0,184.0,208.0,233.0,255.0
13,Dettes commerciales,10932,8644,10182,9731,9731,8512,9650.0,7365.0,8814.0,...,413.0,348.0,355.0,303.0,894.0,892.0,943.0,950.0,849.0,702.0
14,Dettes,35731,31087,34843,33111,31500,27936,53121.0,50699.0,52892.0,...,1165.0,1041.0,961.0,801.0,92129.0,88571.0,95399.0,86090.0,79439.0,80564.0
15,Total des capitaux propres et du passif,229527,216658,228034,208980,195506,188535,121318.0,111225.0,113062.0,...,1447.0,1276.0,1230.0,1077.0,153437.0,147617.0,156500.0,146808.0,137828.0,137728.0

In [54]:
df6_to_transpose=df6



df6_to_transpose.columns = ['.'.join(col.split('.')[:-1]) if '.' in col else col for col in df6_to_transpose.columns]


df6_transpose=df6_to_transpose.transpose()

df6_transpose.reset_index(level=0, inplace=True)
headers = df6_transpose.iloc[0]
df6_transpose = pd.DataFrame(df6_transpose.values[1:],columns=headers);


df6_transpose['année'] = df6_transpose['année'].astype(str)
df6_transpose['année'] = df6_transpose['année'].str.split('.').str[0]
df6_transpose['année'] = pd.to_datetime(df6_transpose['année'], format='%Y').dt.to_period('Y')

df6_transpose.rename(columns={'année': 'Annee'}, inplace=True)




df6_transpose.to_csv("Passifs_BMW.csv",index=False)
df6_transpose

,Type,Annee,Capital souscrit,Réserves de capital,Réserves de revenus,Autres capitaux propres accumulés,Intérêts minoritaires,Capitaux propres,Provisions pour risques et charges,autres provisions,Taxe différée,Passifs financiers,Autres passifs,Impôt actuel,Dettes commerciales,Dettes,Total des capitaux propres et du passif
0,Group,2021,661,2325,71705,-325,766,75132,1247,13954,1458,103463,22420,921,10932,35731,229527
1,Group,2020,660,2199,59550,-1518,629,61520,3693,13982,509,106376,21187,747,8644,31087,216658
2,Group,2019,659,2161,57667,-1163,583,59907,3335,13209,632,116740,23066,963,10182,34843,228034
3,Group,2018,658,2118,56121,-1338,529,58088,2330,11854,1806,103597,20416,1158,9731,33111,208980
4,Group,2017,658,2084,50815,114,436,54107,3252,11999,2157,94648,18488,1124,9731,31500,195506
5,Group,2016,657,2047,44445,-41,255,47363,4587,10918,2795,97731,15555,1074,8512,27936,188535
6,Automotive,2021,NaN,NaN,NaN,NaN,NaN,50296.0,1073.0,13119.0,1515.0,3709.0,41256.0,700.0,9650.0,53121.0,121318.0
7,Automotive,2020,NaN,NaN,NaN,NaN,NaN,41117.0,3197.0,13228.0,697.0,2984.0,42100.0,537.0,7365.0,50699.0,111225.0
8,Automotive,2019,NaN,NaN,NaN,NaN,NaN,40174.0,2820.0,12567.0,543.0,4609.0,42831.0,704.0,8814.0,52892.0,113062.0
9,Automotive,2018,NaN,NaN,NaN,NaN,NaN,39778.0,2089.0,10799.0,1016.0,1896.0,32185.0,933.0,8422.0,42556.0,97118.0
10,Automotive,2017,NaN,NaN,NaN,NaN,NaN,39361.0,2405.0,10885.0,1456.0,1779.0,28369.0,874.0,8516.0,39215.0,93645.0
11,Automotive,2016,NaN,NaN,NaN,NaN,NaN,36624.0,2911.0,9757.0,740.0,3423.0,27007.0,770.0,7483.0,36000.0,88715.0
12,Motorcycles,2021,NaN,NaN,NaN,NaN,NaN,0.0,31.0,219.0,NaN,2.0,764.0,NaN,378.0,1142.0,1394.0
13,Motorcycles,2020,NaN,NaN,NaN,NaN,NaN,0.0,109.0,174.0,NaN,0.0,841.0,NaN,378.0,1219.0,1502.0
14,Motorcycles,2019,NaN,NaN,NaN,NaN,NaN,0.0,96.0,186.0,NaN,0.0,752.0,NaN,413.0,1165.0,1447.0
15,Motorcycles,2018,NaN,NaN,NaN,NaN,NaN,0.0,64.0,171.0,NaN,NaN,693.0,NaN,348.0,1041.0,1276.0
16,Motorcycles,2017,NaN,NaN,NaN,NaN,NaN,0.0,69.0,200.0,NaN,NaN,606.0,NaN,355.0,961.0,1230.0
17,Motorcycles,2016,NaN,NaN,NaN,NaN,NaN,0.0,83.0,193.0,NaN,NaN,498.0,NaN,303.0,801.0,1077.0
18,Financial Services,2021,NaN,NaN,NaN,NaN,NaN,17324.0,35.0,612.0,3426.0,43337.0,87669.0,140.0,894.0,92129.0,153437.0
19,Financial Services,2020,NaN,NaN,NaN,NaN,NaN,15555.0,49.0,534.0,2812.0,42908.0,84675.0,192.0,892.0,88571.0,147617.0
20,Financial Services,2019,NaN,NaN,NaN,NaN,NaN,15545.0,47.0,401.0,3804.0,45108.0,90468.0,184.0,943.0,95399.0,156500.0
21,Financial Services,2018,NaN,NaN,NaN,NaN,NaN,14919.0,49.0,875.0,4611.0,44875.0,80321.0,208.0,950.0,86090.0,146808.0
22,Financial Services,2017,NaN,NaN,NaN,NaN,NaN,14740.0,72.0,905.0,4302.0,42672.0,74055.0,233.0,849.0,79439.0,137828.0
23,Financial Services,2016,NaN,NaN,NaN,NaN,NaN,11049.0,77.0,952.0,6755.0,45086.0,72852.0,255.0,702.0,80564.0,137728.0

In [55]:
df7=dico_df[6]
df7

,Type,group,group.1,group.2,group.3,group.4,group.5,automotive,automotive.1,automotive.2,automotive.3,automotive.4,automotive.5,financial services,financial services.1,financial services.2,financial services.3,financial services.4,financial services.5
0,année,2021.0,2020.0,2019.0,2018,2017.0,2016.0,2021.0,2020.0,2019.0,2018.0,2017.0,2016.0,2021.0,2020.0,2019.0,2018.0,2017.0,2016.0
1,Bénéfice/perte avant impôt,16060.0,5222.0,7118.0,9627,8706.0,6910.0,11805.0,2722.0,4467.0,6977.0,5276.0,5441.0,3753.0,1725.0,2272.0,2143.0,4047.0,1777.0
2,Impôts sur le revenu payés,-3217.0,-1605.0,-3389.0,-1972,-2301.0,-2417.0,-1805.0,-382.0,-1984.0,-1751.0,-1896.0,-1997.0,-1423.0,-1513.0,-345.0,-299.0,-315.0,164.0
3,Intérêts reçus,130.0,163.0,91.0,170,125.0,142.0,220.0,283.0,91.0,170.0,125.0,142.0,2.0,3.0,NaN,NaN,NaN,NaN
4,Autres intérêts et produits/charges assimilés,78.0,104.0,51.0,-199,65.0,131.0,115.0,152.0,61.0,-165.0,89.0,283.0,1.0,1.0,3.0,1.0,-5.0,12.0
5,Amortissements et dépréciations des immobilisa...,6495.0,6139.0,6017.0,5113,4822.0,4998.0,6341.0,5974.0,5853.0,4982.0,4699.0,4876.0,35.0,46.0,54.0,34.0,35.0,29.0
6,Autres produits et charges non monétaires,-713.0,99.0,-200.0,111,-249.0,-15.0,-470.0,94.0,-262.0,83.0,25.0,11.0,NaN,6.0,23.0,33.0,46.0,11.0
7,Résultat des investissements,-1520.0,-920.0,-136.0,-632,-738.0,-441.0,-1520.0,-920.0,-136.0,-632.0,-738.0,-441.0,NaN,NaN,NaN,NaN,NaN,NaN
8,Variation des produits loués,-1282.0,-1016.0,-3825.0,-1693,-1134.0,-2526.0,NaN,NaN,NaN,NaN,NaN,NaN,-1602.0,-311.0,-3600.0,-1783.0,-1855.0,-3532.0
9,Variation des créances liées au financement de...,965.0,4192.0,-3560.0,-5670,-7440.0,-8368.0,NaN,NaN,NaN,NaN,NaN,NaN,926.0,4184.0,-3589.0,-5670.0,-7440.0,-8368.0
10,Variation du fonds de roulement,1355.0,-996.0,-1117.0,-573,166.0,-104.0,762.0,-841.0,-831.0,-758.0,78.0,-172.0,433.0,-76.0,-222.0,176.0,161.0,50.0
11,Variation des stocks,-563.0,370.0,-1560.0,-357,-1293.0,-749.0,-1032.0,422.0,-1255.0,-390.0,-1179.0,-758.0,438.0,-43.0,-193.0,7.0,-20.0,2.0
12,Variation des créances commerciales,119.0,160.0,14.0,112,45.0,-93.0,-16.0,191.0,43.0,59.0,43.0,-43.0,6.0,1.0,-11.0,60.0,19.0,-12.0
13,Variation des dettes commerciales,1799.0,-1526.0,429.0,-328,1414.0,738.0,1810.0,-1454.0,381.0,-427.0,1214.0,629.0,-11.0,-34.0,-18.0,109.0,162.0,60.0
14,Variation des provisions,-1256.0,1115.0,1512.0,-82,696.0,883.0,-1440.0,1122.0,1745.0,344.0,988.0,970.0,87.0,129.0,-59.0,-13.0,225.0,139.0
15,Variation des autres actifs et passifs opérati...,-1192.0,754.0,1096.0,697,1285.0,1229.0,-1425.0,-26.0,683.0,175.0,-1362.0,-246.0,1047.0,-1432.0,118.0,-1259.0,705.0,-283.0
16,Flux de trésorerie entrants/sortants liés aux ...,15903.0,13251.0,3662.0,5051,5909.0,3173.0,12583.0,8178.0,9690.0,9352.0,10848.0,11464.0,3259.0,2762.0,-5345.0,-6790.0,-6384.0,-9844.0
17,Investissement total dans les immobilisations ...,-6619.0,-6150.0,-6902.0,-7777,-7112.0,-5823.0,-6439.0,-5990.0,-6734.0,-7618.0,-6972.0,-5699.0,-12.0,-14.0,-19.0,-13.0,-15.0,-10.0
18,Produit des subventions pour les immobilisatio...,54.0,53.0,50.0,21,NaN,NaN,43.0,45.0,50.0,18.0,NaN,NaN,11.0,8.0,2.0,3.0,NaN,NaN
19,Produits de cession d'immobilisations incorpor...,40.0,34.0,32.0,107,30.0,10.0,39.0,34.0,31.0,105.0,28.0,9.0,1.0,NaN,1.0,2.0,2.0,NaN
20,Dépenses pour les actifs d'investissement,-158.0,-176.0,-1598.0,-164,-142.0,-338.0,-132.0,-199.0,-1557.0,-145.0,-482.0,-122.0,-1.0,NaN,NaN,NaN,NaN,NaN
21,Produits de la cession d'actifs de placement e...,263.0,1328.0,1087.0,623 5,1236.0,140.0,260.0,1327.0,1087.0,1210.0,1037.0,140.0,NaN,NaN,57.0,2.0,970.0,NaN
22,Investissements en titres négociables et fonds...,-271.0,-925.0,-775.0,-3725,-4041.0,-3592.0,-16.0,-829.0,-507.0,-3692.0,-3810.0,-3196.0,-185.0,-91.0,-268.0,-63.0,-231.0,-396.0
23,Produits de la vente de titres négociables et ...,302.0,2200.0,822.0,3761,3866.0,3740.0,37.0,1679.0,465.0,3562.0,3655.0,3436.0,260.0,521.0,356.0,199.0,211.0,304.0
24,Flux de trésorerie entrants/sortants liés aux ...,-6389.0,-3636.0,-7284.0,-7363,-6163.0,-5863.0,-6208.0,-3933.0,-7165.0,-6769.0,-6544.0,-5432.0,74.0,424.0,129.0,130.0,937.0,-102.0
25,Apports en capitaux propres,103.0,28.0,33.0,25,38.0,20.0,103.0,28.0,33.0,25.0,38.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN
26,Paiement du dividende de l'année précédente,-1277.0,-1671.0,-2366.0,-2630,-2324.0,-2121.0,-1277.0,-1671.0,-2366.0,-2630.0,-2324.0,-2121.0,NaN,NaN,NaN,NaN,NaN,NaN
27,Opérations de financement et transactions sur ...,NaN,NaN,NaN,NaN,NaN,NaN,-1545.0,-901.0,877.0,2099.0,567.0,-1833.0,-2511.0,-2438.0,5491.0,5097.0,4315.0,6191.0
28,Intérêts payés,-217.0,-275.0,-199.0,-136,-165.0,-118.0,-367.0,-447.0,-197.0,-136.0,-165.0,-118.0,-27.0,-18.0,-1.0,NaN,NaN,NaN
29,Produit de l'émission de passifs financiers no...,224916.0,164478.0,150517.0,30762,12061.0,13974.0,NaN,NaN,173.0,1.0,NaN,NaN,218348.0,153823.0,132408.0,12940.0,552.0,870.0
30,Remboursement de passifs financiers non courants,-232089.0,-171532.0,-143500.0,-22564,-9374.0,-10374.0,-659.0,-982.0,-605.0,-410.0,NaN,NaN,-219488.0,-156657.0,-133089.0,-12071.0,-489.0,-1160.0
31,Variation des autres passifs financiers,1829.0,718.0,305.0,-1161,11894.0,8952.0,NaN,NaN,NaN,-2.0,NaN,67.0,1049.0,2782.0,491.0,827.0,11385.0,8295.0
32,Flux de trésorerie entrants/sortants liés aux ...,-6735.0,-8254.0,4790.0,4296,-7427.0,-8443.0,-3745.0,-3973.0,-2085.0,-1053.0,-48.0,-520.0,-2629.0,-2508.0,5300.0,6793.0,-7119.0,-7215.0
33,Effet des variations de taux de change sur la...,-307.0,180.0,-28.0,-19,-4084.0,4135.0,-143.0,130.0,-22.0,-31.0,73.0,-720.0,-96.0,110.0,6.0,-4.0,-4181.0,4425.0
34,Effet des changements dans la composition du G...,NaN,-40.0,-83.0,-25,64.0,38.0,NaN,43.0,28.0,-25.0,NaN,25.0,NaN,NaN,NaN,NaN,64.0,11.0
35,Variation de la trésorerie et des équivalents ...,2472.0,1501.0,1057.0,1940,1159.0,1758.0,2487.0,445.0,446.0,1474.0,2363.0,842.0,608.0,788.0,90.0,129.0,-1190.0,1687.0
36,Trésorerie et équivalents de trésorerie au 1er...,13537.0,12036.0,10979.0,9039,7880.0,6122.0,9522.0,9077.0,8631.0,7157.0,4794.0,3952.0,2863.0,2075.0,1985.0,1856.0,3046.0,1359.0
37,Trésorerie et équivalents de trésorerie au 31 ...,16009.0,13537.0,12036.0,10979,9039.0,7880.0,12009.0,9522.0,9077.0,8631.0,7157.0,4794.0,3471.0,2863.0,2075.0,1985.0,1856.0,3046.0

In [56]:


df7_to_transpose=df7
df7_to_transpose.columns = ['.'.join(col.split('.')[:-1]) if '.' in col else col for col in df7_to_transpose.columns]


df7_transpose=df7_to_transpose.transpose()

df7_transpose.reset_index(level=0, inplace=True)
headers = df7_transpose.iloc[0]
df7_transpose = pd.DataFrame(df7_transpose.values[1:],columns=headers);


df7_transpose['année'] = df7_transpose['année'].astype(str)
df7_transpose['année'] = df7_transpose['année'].str.split('.').str[0]
df7_transpose['année'] = pd.to_datetime(df7_transpose['année'], format='%Y').dt.to_period('Y')

df7_transpose.rename(columns={'année': 'Annee'}, inplace=True)


df7_transpose.to_csv("cashflow_BMW.csv",index=False)
df7_transpose

,Type,Annee,Bénéfice/perte avant impôt,Impôts sur le revenu payés,Intérêts reçus,Autres intérêts et produits/charges assimilés,Amortissements et dépréciations des immobilisations corporelles et incorporelles,Autres produits et charges non monétaires,Résultat des investissements,Variation des produits loués,...,Intérêts payés,Produit de l'émission de passifs financiers non courants,Remboursement de passifs financiers non courants,Variation des autres passifs financiers,Flux de trésorerie entrants/sortants liés aux activités de financement,Effet des variations de taux de change sur la trésorerie et les équivalents de trésorerie,Effet des changements dans la composition du Groupe sur la trésorerie et les équivalents de trésorerie,Variation de la trésorerie et des équivalents de trésorerie,Trésorerie et équivalents de trésorerie au 1er janvier,Trésorerie et équivalents de trésorerie au 31 décembre
0,group,2021,16060.0,-3217.0,130.0,78.0,6495.0,-713.0,-1520.0,-1282.0,...,-217.0,224916.0,-232089.0,1829.0,-6735.0,-307.0,NaN,2472.0,13537.0,16009.0
1,group,2020,5222.0,-1605.0,163.0,104.0,6139.0,99.0,-920.0,-1016.0,...,-275.0,164478.0,-171532.0,718.0,-8254.0,180.0,-40.0,1501.0,12036.0,13537.0
2,group,2019,7118.0,-3389.0,91.0,51.0,6017.0,-200.0,-136.0,-3825.0,...,-199.0,150517.0,-143500.0,305.0,4790.0,-28.0,-83.0,1057.0,10979.0,12036.0
3,group,2018,9627,-1972,170,-199,5113,111,-632,-1693,...,-136,30762,-22564,-1161,4296,-19,-25,1940,9039,10979
4,group,2017,8706.0,-2301.0,125.0,65.0,4822.0,-249.0,-738.0,-1134.0,...,-165.0,12061.0,-9374.0,11894.0,-7427.0,-4084.0,64.0,1159.0,7880.0,9039.0
5,group,2016,6910.0,-2417.0,142.0,131.0,4998.0,-15.0,-441.0,-2526.0,...,-118.0,13974.0,-10374.0,8952.0,-8443.0,4135.0,38.0,1758.0,6122.0,7880.0
6,automotive,2021,11805.0,-1805.0,220.0,115.0,6341.0,-470.0,-1520.0,NaN,...,-367.0,NaN,-659.0,NaN,-3745.0,-143.0,NaN,2487.0,9522.0,12009.0
7,automotive,2020,2722.0,-382.0,283.0,152.0,5974.0,94.0,-920.0,NaN,...,-447.0,NaN,-982.0,NaN,-3973.0,130.0,43.0,445.0,9077.0,9522.0
8,automotive,2019,4467.0,-1984.0,91.0,61.0,5853.0,-262.0,-136.0,NaN,...,-197.0,173.0,-605.0,NaN,-2085.0,-22.0,28.0,446.0,8631.0,9077.0
9,automotive,2018,6977.0,-1751.0,170.0,-165.0,4982.0,83.0,-632.0,NaN,...,-136.0,1.0,-410.0,-2.0,-1053.0,-31.0,-25.0,1474.0,7157.0,8631.0
10,automotive,2017,5276.0,-1896.0,125.0,89.0,4699.0,25.0,-738.0,NaN,...,-165.0,NaN,NaN,NaN,-48.0,73.0,NaN,2363.0,4794.0,7157.0
11,automotive,2016,5441.0,-1997.0,142.0,283.0,4876.0,11.0,-441.0,NaN,...,-118.0,NaN,NaN,67.0,-520.0,-720.0,25.0,842.0,3952.0,4794.0
12,financial services,2021,3753.0,-1423.0,2.0,1.0,35.0,NaN,NaN,-1602.0,...,-27.0,218348.0,-219488.0,1049.0,-2629.0,-96.0,NaN,608.0,2863.0,3471.0
13,financial services,2020,1725.0,-1513.0,3.0,1.0,46.0,6.0,NaN,-311.0,...,-18.0,153823.0,-156657.0,2782.0,-2508.0,110.0,NaN,788.0,2075.0,2863.0
14,financial services,2019,2272.0,-345.0,NaN,3.0,54.0,23.0,NaN,-3600.0,...,-1.0,132408.0,-133089.0,491.0,5300.0,6.0,NaN,90.0,1985.0,2075.0
15,financial services,2018,2143.0,-299.0,NaN,1.0,34.0,33.0,NaN,-1783.0,...,NaN,12940.0,-12071.0,827.0,6793.0,-4.0,NaN,129.0,1856.0,1985.0
16,financial services,2017,4047.0,-315.0,NaN,-5.0,35.0,46.0,NaN,-1855.0,...,NaN,552.0,-489.0,11385.0,-7119.0,-4181.0,64.0,-1190.0,3046.0,1856.0
17,financial services,2016,1777.0,164.0,NaN,12.0,29.0,11.0,NaN,-3532.0,...,NaN,870.0,-1160.0,8295.0,-7215.0,4425.0,11.0,1687.0,1359.0,3046.0

In [57]:
df8=dico_df[7]
df8

,Type,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012
0,Trésorerie et équivalents de trésorerie au 1er...,39123,33432,24329,28113,18038,18833,20462,18634,22009,17794,16495
1,Bénéfice/perte avant impôt,22044,20126,11667,18356,15643,13673,7292,-1301,14794,12428,25487
2,Impôts sur le revenu payés,-4415,-4216,-2646,-2914,-3804,-3664,-3315,-3238,-4040,-3107,-5056
3,Amortissements et dépréciations des immobilisa...,31275,28440,26717,24895,22903,22415,21078,18409,15820,13892,1590
4,Autres produits et charges non monétaires,-542,-1652,-1572,-730,347,-240,716,2102,-174,1012,-2031
5,Variation des stocks,-8385,2110,1334,-674,-5372,-4198,-3637,-3149,-2214,-1021,460
6,Variation des créances commerciales,-3207,1888,712,-893,-6400,-1660,-2155,-1807,-1433,-1651,-56
7,Variation des créances liées au financement de...,8586,1856,540,2297,3645,5302,5048,2807,4764,2363,-236
8,Variation des provisions,-1856,1943,803,1646,-762,-9443,5966,18329,562,2479,470
9,Variation des produits loués,-8711,-16205,-12914,-13204,-11647,-11478,-12074,-10808,-8487,-7112,-5606
10,Variation des dettes commerciales,-6294,4345,260,-10796,-7282,-11891,-9490,-7663,-8807,-6688,-7814
11,Flux de trésorerie entrants/sortants liés aux ...,28495,38635,24901,17983,7271,-1184,9429,13681,10785,12595,7208
12,Investissement total dans les immobilisations ...,-12948,-10655,-11273,-14230,-13729,-13052,-13152,-13213,-12012,-11385,-10493
13,Dépenses pour les actifs d'investissement,-13349,-13742,-8107,-6264,-6124,-6098,-6178,-6017,-4879,-4195,-6735
14,Produits de cession d'immobilisations incorpor...,844,217,1008,417,466,931,2534,3706,440,645,387
15,Produits de la cession d'actifs de placement e...,-16368,-1948,-4319,-1069,-2204,1711,-3883,-5627,-2646,-1954,-2643
16,Flux de trésorerie liés aux activités d'invest...,-41821,-26128,-22691,-21146,-21591,-16508,-20679,-21151,-19097,-16889,-19484
17,Apports en capitaux propres,-235,-1071,2984,–,1491,3473,–,2457,4932,3067,2046
18,Paiement du dividende de l'année précédente,-4362,-3022,-2952,-2899,-2375,-1332,-364,-2516,-1962,-1849,-1673
19,Opérations de financement et transactions sur ...,16198,-590,-238,1368,-28,–,-3,0,-6535,0,-2101
20,Produit de l'émission de passifs financiers no...,23876,32659,25181,25916,35308,30279,14262,13,15,-21,36
21,Remboursement de passifs financiers non courants,-26886,-31803,-20915,-20741,-15319,-17905,-23637,32893,29960,22403,32487
22,Variation des autres passifs financiers,-4366,-3928,3577,-4509,5488,3109,19455,-23755,-21748,-14614,-16952
23,Flux de trésorerie entrants/sortants liés aux ...,4225,-7755,7637,-865,24565,17624,9713,9092,4662,8986,13843
24,Effet des variations de taux de change sur la...,-285,942,-745,243,-173,-727,-91,9068,4645,8973,13712
25,Trésorerie et équivalents de trésorerie au 31 ...,29737,39126,33431,24328,28110,18038,18834,29324,23004,31459,31774

In [58]:
import numpy as np
df_Cashflow_VW=df8;
df_Cashflow_VW=df_Cashflow_VW.transpose()
df_Cashflow_VW.reset_index(level=0, inplace=True)
headers = df_Cashflow_VW.iloc[0]
df_Cashflow_VW = pd.DataFrame(df_Cashflow_VW.values[1:],columns=headers)
df_Cashflow_VW.rename(columns={"Type": "Annee"}, inplace=True)
df_Cashflow_VW = df_Cashflow_VW.applymap(lambda x: np.nan if isinstance(x, str) and x.strip() == "–" else x);df_Cashflow_VW

,Annee,Trésorerie et équivalents de trésorerie au 1er janvier,Bénéfice/perte avant impôt,Impôts sur le revenu payés,Amortissements et dépréciations des immobilisations corporelles et incorporelles,Autres produits et charges non monétaires,Variation des stocks,Variation des créances commerciales,Variation des créances liées au financement des ventes,Variation des provisions,...,Flux de trésorerie liés aux activités d'investissement,Apports en capitaux propres,Paiement du dividende de l'année précédente,Opérations de financement et transactions sur capitaux propres intragroupe,Produit de l'émission de passifs financiers non courants,Remboursement de passifs financiers non courants,Variation des autres passifs financiers,Flux de trésorerie entrants/sortants liés aux activités de financement,Effet des variations de taux de change sur la trésorerie et les équivalents de trésorerie,Trésorerie et équivalents de trésorerie au 31 décembre
0,2022,39123,22044,-4415,31275,-542,-8385,-3207,8586,-1856,...,-41821,-235.0,-4362,16198.0,23876,-26886,-4366,4225,-285,29737
1,2021,33432,20126,-4216,28440,-1652,2110,1888,1856,1943,...,-26128,-1071.0,-3022,-590.0,32659,-31803,-3928,-7755,942,39126
2,2020,24329,11667,-2646,26717,-1572,1334,712,540,803,...,-22691,2984.0,-2952,-238.0,25181,-20915,3577,7637,-745,33431
3,2019,28113,18356,-2914,24895,-730,-674,-893,2297,1646,...,-21146,NaN,-2899,1368.0,25916,-20741,-4509,-865,243,24328
4,2018,18038,15643,-3804,22903,347,-5372,-6400,3645,-762,...,-21591,1491.0,-2375,-28.0,35308,-15319,5488,24565,-173,28110
5,2017,18833,13673,-3664,22415,-240,-4198,-1660,5302,-9443,...,-16508,3473.0,-1332,NaN,30279,-17905,3109,17624,-727,18038
6,2016,20462,7292,-3315,21078,716,-3637,-2155,5048,5966,...,-20679,NaN,-364,-3.0,14262,-23637,19455,9713,-91,18834
7,2015,18634,-1301,-3238,18409,2102,-3149,-1807,2807,18329,...,-21151,2457.0,-2516,0.0,13,32893,-23755,9092,9068,29324
8,2014,22009,14794,-4040,15820,-174,-2214,-1433,4764,562,...,-19097,4932.0,-1962,-6535.0,15,29960,-21748,4662,4645,23004
9,2013,17794,12428,-3107,13892,1012,-1021,-1651,2363,2479,...,-16889,3067.0,-1849,0.0,-21,22403,-14614,8986,8973,31459
10,2012,16495,25487,-5056,1590,-2031,460,-56,-236,470,...,-19484,2046.0,-1673,-2101.0,36,32487,-16952,13843,13712,31774

In [59]:
df_Cashflow_VW.to_csv("cashflows_VW.csv", index=False)

In [60]:
df9=dico_df[8]
df9

,Indicateurs,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012
0,Revenus,279232.000000,250200.000000,222884.000000,252632.000000,235849.000000,229550.000000,217267.000000,213292.000000,202458.000000,197007.000000,192676.000000
1,Résultats opérationnels,22124.000000,19275.000000,9675.000000,16960.000000,13920.000000,13818.000000,7103.000000,-4069.000000,12697.000000,11671.000000,11498.000000
2,Marge brute,0.079232,0.077038,0.043408,0.067133,0.059021,0.060196,0.032692,-0.019077,0.062714,0.059242,0.059675
3,Résultat financier,-81.000000,851.000000,1991.000000,1396.000000,1723.000000,-146.000000,189.000000,2767.000000,2097.000000,757.000000,13989.000000
4,Bénéfices avant impôt,22044.000000,20126.000000,11667.000000,18356.000000,15643.000000,13673.000000,7292.000000,-1301.000000,14794.000000,12428.000000,25487.000000
5,Bénéfice net de l'année,15836.000000,15428.000000,8824.000000,14029.000000,12153.000000,11463.000000,5379.000000,-1361.000000,11068.000000,9145.000000,21881.000000

In [61]:
df_Resultats_VW=df9
df_Resultats_VW=df_Resultats_VW.transpose()
df_Resultats_VW.reset_index(level=0, inplace=True)
headers = df_Resultats_VW.iloc[0]
df_Resultats_VW = pd.DataFrame(df_Resultats_VW.values[1:],columns=headers)
df_Resultats_VW.rename(columns={"Indicateurs": "Annee"}, inplace=True);df_Resultats_VW

,Annee,Revenus,Résultats opérationnels,Marge brute,Résultat financier,Bénéfices avant impôt,Bénéfice net de l'année
0,2022,279232.0,22124.0,0.079232,-81.0,22044.0,15836.0
1,2021,250200.0,19275.0,0.077038,851.0,20126.0,15428.0
2,2020,222884.0,9675.0,0.043408,1991.0,11667.0,8824.0
3,2019,252632.0,16960.0,0.067133,1396.0,18356.0,14029.0
4,2018,235849.0,13920.0,0.059021,1723.0,15643.0,12153.0
5,2017,229550.0,13818.0,0.060196,-146.0,13673.0,11463.0
6,2016,217267.0,7103.0,0.032692,189.0,7292.0,5379.0
7,2015,213292.0,-4069.0,-0.019077,2767.0,-1301.0,-1361.0
8,2014,202458.0,12697.0,0.062714,2097.0,14794.0,11068.0
9,2013,197007.0,11671.0,0.059242,757.0,12428.0,9145.0
10,2012,192676.0,11498.0,0.059675,13989.0,25487.0,21881.0

In [62]:
df_Resultats_VW.to_csv("Resultats_VW.csv", index=False)

In [63]:
df10=dico_df[9]
df10

,Unnamed: 0,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012
0,ACTIFS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Immobilisations incorporelles,83241.0,77689.0,67968.0,66214.0,64613.0,63419.0,62599.0,61147.0,59935.0,59243.0,59112.0
2,Immobilisations corporelles,63890.0,63695.0,63884.0,66152.0,57630.0,55243.0,54033.0,50171.0,46169.0,42389.0,39424.0
3,Produits loués,59380.0,59699.0,50686.0,48938.0,43545.0,39254.0,38439.0,33173.0,27585.0,22259.0,20034.0
4,Autres investissements,610.0,615.0,558.0,538.0,496.0,468.0,512.0,504.0,485.0,427.0,433.0
5,Participations comptabilisées selon la méthode...,16157.0,15531.0,11945.0,10071.0,9908.0,9523.0,9612.0,11878.0,13557.0,11875.0,11179.0
6,Créances de financement des ventes,90039.0,87849.0,85432.0,89695.0,81302.0,75501.0,70411.0,64525.0,59531.0,52654.0,51456.0
7,Actifs financiers,28999.0,21740.0,21068.0,17767.0,18107.0,20453.0,20097.0,16773.0,14191.0,13631.0,12302.0
8,Autres actifs,45493.0,30640.0,28922.0,24382.0,23759.0,21692.0,23042.0,20769.0,16407.0,14158.0,12808.0
9,Taxe différée,12921.0,13390.0,13486.0,13106.0,10131.0,9813.0,9756.0,8026.0,5878.0,5622.0,7836.0
10,Inventaires,52274.0,43725.0,43823.0,46742.0,45745.0,40415.0,38978.0,35048.0,31466.0,28653.0,28674.0
11,Créances clients,18581.0,15521.0,16243.0,17941.0,17888.0,13357.0,12187.0,11132.0,11472.0,11133.0,10099.0
12,Créances de financement des ventes,62282.0,57172.0,58006.0,59410.0,54216.0,53260.0,49673.0,46888.0,44398.0,38386.0,36911.0
13,Impôt actuel,1732.0,1618.0,1186.0,1190.0,1879.0,1339.0,1126.0,1029.0,1010.0,729.0,761.0
14,Trésorerie et équivalents de trésorerie,29172.0,39723.0,33909.0,25923.0,28938.0,18457.0,19265.0,20871.0,19123.0,23178.0,18488.0
15,Total des actifs,564771.0,528607.0,497116.0,488069.0,458157.0,422194.0,409730.0,381934.0,351207.0,324337.0,309517.0

In [64]:
df_Actifs_VW=df10
df_Actifs_VW=df_Actifs_VW.transpose()
df_Actifs_VW.reset_index(level=0, inplace=True)
headers = df_Actifs_VW.iloc[0]
df_Actifs_VW = pd.DataFrame(df_Actifs_VW.values[1:],columns=headers)
df_Actifs_VW=df_Actifs_VW.drop(columns=['ACTIFS'])
df_Actifs_VW.rename({"Unnamed: 0": "Annee"},axis=1, inplace=True);df_Actifs_VW

,Annee,Immobilisations incorporelles,Immobilisations corporelles,Produits loués,Autres investissements,Participations comptabilisées selon la méthode de la mise en équivalence,Créances de financement des ventes,Actifs financiers,Autres actifs,Taxe différée,Inventaires,Créances clients,Créances de financement des ventes,Impôt actuel,Trésorerie et équivalents de trésorerie,Total des actifs
0,2022,83241.0,63890.0,59380.0,610.0,16157.0,90039.0,28999.0,45493.0,12921.0,52274.0,18581.0,62282.0,1732.0,29172.0,564771.0
1,2021,77689.0,63695.0,59699.0,615.0,15531.0,87849.0,21740.0,30640.0,13390.0,43725.0,15521.0,57172.0,1618.0,39723.0,528607.0
2,2020,67968.0,63884.0,50686.0,558.0,11945.0,85432.0,21068.0,28922.0,13486.0,43823.0,16243.0,58006.0,1186.0,33909.0,497116.0
3,2019,66214.0,66152.0,48938.0,538.0,10071.0,89695.0,17767.0,24382.0,13106.0,46742.0,17941.0,59410.0,1190.0,25923.0,488069.0
4,2018,64613.0,57630.0,43545.0,496.0,9908.0,81302.0,18107.0,23759.0,10131.0,45745.0,17888.0,54216.0,1879.0,28938.0,458157.0
5,2017,63419.0,55243.0,39254.0,468.0,9523.0,75501.0,20453.0,21692.0,9813.0,40415.0,13357.0,53260.0,1339.0,18457.0,422194.0
6,2016,62599.0,54033.0,38439.0,512.0,9612.0,70411.0,20097.0,23042.0,9756.0,38978.0,12187.0,49673.0,1126.0,19265.0,409730.0
7,2015,61147.0,50171.0,33173.0,504.0,11878.0,64525.0,16773.0,20769.0,8026.0,35048.0,11132.0,46888.0,1029.0,20871.0,381934.0
8,2014,59935.0,46169.0,27585.0,485.0,13557.0,59531.0,14191.0,16407.0,5878.0,31466.0,11472.0,44398.0,1010.0,19123.0,351207.0
9,2013,59243.0,42389.0,22259.0,427.0,11875.0,52654.0,13631.0,14158.0,5622.0,28653.0,11133.0,38386.0,729.0,23178.0,324337.0
10,2012,59112.0,39424.0,20034.0,433.0,11179.0,51456.0,12302.0,12808.0,7836.0,28674.0,10099.0,36911.0,761.0,18488.0,309517.0

In [65]:
df_Actifs_VW.to_csv("actifs_VW.csv", index=False)

In [66]:
df11=dico_df[10]
df11

,PASSIFS ET CAPITAUX PROPRES,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012
0,Capital souscrit,1283,1283,1283.0,1283,1283.0,1283.0,1283.0,1283.0,1218.0,1191.0,1191.0
1,Réserves de capital,14551,14551,14551.0,14551,14551.0,14551.0,14551.0,14551.0,14616.0,12658.0,11509.0
2,Réserves de revenus,137267,117342,100772.0,96929,91105.0,81248.0,70446.0,69039.0,71197.0,72341.0,64596.0
3,Autres capitaux propres accumulés,-1845,-3167,-5270.0,-3646,-2417.0,678.0,-1158.0,-4374.0,-2081.0,-459.0,386.0
4,Capitaux propres attribuables aux actionnaires,14121,14439,15713.0,12663,12596.0,11088.0,7567.0,7560.0,5041.0,2004.0,NaN
5,Intérêts minoritaires,12950,1705,1734.0,1870,225.0,229.0,221.0,210.0,198.0,2304.0,4313.0
6,Capitaux propres,178327,146153,128783.0,123650,117343.0,109077.0,92910.0,88269.0,90189.0,90039.0,81995.0
7,Passifs financiers,233193,227670,218304.0,216825,203518.0,174707.0,168745.0,161856.0,145577.0,128335.0,124485.0
8,Autres passifs,31675,28320,25884.0,26591,24041.0,22160.0,21125.0,18919.0,18381.0,15531.0,15786.0
9,Taxe différée,10734,5131,4890.0,5007,5030.0,5636.0,4745.0,4433.0,4774.0,7894.0,9050.0
10,Provisions pour risques et charges,27553,41550,45081.0,41389,33097.0,32730.0,33012.0,27535.0,29806.0,21774.0,23939.0
11,autres provisions,53657,55307,51157.0,51084,51065.0,54408.0,65899.0,60132.0,42694.0,42522.0,36756.0
12,Impôt actuel,29474,24238,23017.0,23153,24063.0,23476.0,23294.0,20790.0,19786.0,18242.0,17506.0
13,Dettes commerciales,158,238,NaN,370,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Dettes,386444,382454,368333.0,364419,340814.0,313117.0,316820.0,293665.0,261018.0,234298.0,227522.0
15,Total des capitaux propres et du passif,564771,528607,497116.0,488069,458157.0,422194.0,409730.0,381934.0,351207.0,324337.0,309517.0

In [67]:
df_Passifs_VW=df11
df_Passifs_VW=df_Passifs_VW.transpose()
df_Passifs_VW.reset_index(level=0, inplace=True)
headers = df_Passifs_VW.iloc[0]
df_Passifs_VW = pd.DataFrame(df_Passifs_VW.values[1:],columns=headers)
df_Passifs_VW.rename(columns={"PASSIFS ET CAPITAUX PROPRES": "Annee"}, inplace=True);df_Passifs_VW

,Annee,Capital souscrit,Réserves de capital,Réserves de revenus,Autres capitaux propres accumulés,Capitaux propres attribuables aux actionnaires,Intérêts minoritaires,Capitaux propres,Passifs financiers,Autres passifs,Taxe différée,Provisions pour risques et charges,autres provisions,Impôt actuel,Dettes commerciales,Dettes,Total des capitaux propres et du passif
0,2022,1283,14551,137267,-1845,14121,12950,178327,233193,31675,10734,27553,53657,29474,158,386444,564771
1,2021,1283,14551,117342,-3167,14439,1705,146153,227670,28320,5131,41550,55307,24238,238,382454,528607
2,2020,1283.0,14551.0,100772.0,-5270.0,15713.0,1734.0,128783.0,218304.0,25884.0,4890.0,45081.0,51157.0,23017.0,NaN,368333.0,497116.0
3,2019,1283,14551,96929,-3646,12663,1870,123650,216825,26591,5007,41389,51084,23153,370,364419,488069
4,2018,1283.0,14551.0,91105.0,-2417.0,12596.0,225.0,117343.0,203518.0,24041.0,5030.0,33097.0,51065.0,24063.0,NaN,340814.0,458157.0
5,2017,1283.0,14551.0,81248.0,678.0,11088.0,229.0,109077.0,174707.0,22160.0,5636.0,32730.0,54408.0,23476.0,NaN,313117.0,422194.0
6,2016,1283.0,14551.0,70446.0,-1158.0,7567.0,221.0,92910.0,168745.0,21125.0,4745.0,33012.0,65899.0,23294.0,NaN,316820.0,409730.0
7,2015,1283.0,14551.0,69039.0,-4374.0,7560.0,210.0,88269.0,161856.0,18919.0,4433.0,27535.0,60132.0,20790.0,NaN,293665.0,381934.0
8,2014,1218.0,14616.0,71197.0,-2081.0,5041.0,198.0,90189.0,145577.0,18381.0,4774.0,29806.0,42694.0,19786.0,NaN,261018.0,351207.0
9,2013,1191.0,12658.0,72341.0,-459.0,2004.0,2304.0,90039.0,128335.0,15531.0,7894.0,21774.0,42522.0,18242.0,NaN,234298.0,324337.0
10,2012,1191.0,11509.0,64596.0,386.0,NaN,4313.0,81995.0,124485.0,15786.0,9050.0,23939.0,36756.0,17506.0,NaN,227522.0,309517.0

In [68]:
df_Passifs_VW.to_csv("passifs_VW.csv", index=False)

In [69]:
import pandas as pd

df1 = pd.read_csv('Actifs_BMW.csv')
df1.insert(0,"Nom_fichier","Actifs_BMW")
df1.insert(0,"Entreprise","BMW")

df2 = pd.read_csv('actifs_VW.csv')
df2.insert(0,"Nom_fichier","actifs_VW")
df2.insert(0,"Entreprise","VW")
df2.insert(1,"Type","Group")

df3 = pd.read_csv('cashflow_BMW.csv')
df3.insert(0,"Nom_fichier","cashflow_BMW")
df3.insert(0,"Entreprise","BMW")

df4 = pd.read_csv('cashflows_VW.csv')
df4.insert(0,"Nom_fichier","cashflows_VW")
df4.insert(0,"Entreprise","VW")
df4.insert(1,"Type","Group")

df5 = pd.read_csv('KPI_Auto_by_Annee.csv')
df5.insert(0,"Nom_fichier","KPI_Auto_by_Annee")
df5.insert(0,"Entreprise","BMW")
df5.insert(1,"Type","Automotive")

df6 = pd.read_csv('KPI_Auto_by_Quarter.csv')
df6.insert(0,"Nom_fichier","KPI_Auto_by_Quarter")
df6.insert(0,"Entreprise","BMW")
df6.insert(1,"Type","Automotive")

df7 = pd.read_csv('KPI_Fin_by_Annee.csv')
df7.insert(0,"Nom_fichier","KPI_Fin_by_Annee")
df7.insert(0,"Entreprise","BMW")
df7.insert(1,"Type","Financial Services")

df8 = pd.read_csv('KPI_Fin_by_Quarter.csv')
df8.insert(0,"Nom_fichier","KPI_Fin_by_Quarter")
df8.insert(0,"Entreprise","BMW")
df8.insert(1,"Type","Financial Services")

df9 = pd.read_csv('KPI_Group_by_Annee.csv')
df9.insert(0,"Nom_fichier","KPI_Group_by_Annee")
df9.insert(0,"Entreprise","BMW")
df9.insert(1,"Type","Group")


df10 = pd.read_csv('KPI_Group_by_Quarter.csv')
df10.insert(0,"Nom_fichier","KPI_Group_by_Quarter")
df10.insert(0,"Entreprise","BMW")
df10.insert(1,"Type","Group")

df11 = pd.read_csv('KPI_Moto_by_Annee.csv')
df11.insert(0,"Nom_fichier","KPI_Moto_by_Annee")
df11.insert(0,"Entreprise","BMW")
df11.insert(1,"Type","Motorcycles")


df12 = pd.read_csv('KPI_Moto_by_Quarter.csv')
df12.insert(0,"Nom_fichier","KPI_Moto_by_Quarter")
df12.insert(0,"Entreprise","BMW")
df12.insert(1,"Type","Motorcycles")

df13 = pd.read_csv('Passifs_BMW.csv')
df13.insert(0,"Nom_fichier","Passifs_BMW")
df13.insert(0,"Entreprise","BMW")

df14 = pd.read_csv('passifs_VW.csv')
df14.insert(0,"Nom_fichier","passifs_VW")
df14.insert(0,"Entreprise","VW")
df14.insert(1,"Type","Group")

df15 = pd.read_csv('production_Quarter.csv')
df15.insert(0,"Nom_fichier","production_Quarter")
df15.insert(0,"Entreprise","BMW")
df15.insert(1,"Type","Automotive")

df16 = pd.read_csv('Resultats_VW.csv')
df16.insert(0,"Nom_fichier","Resultats_VW")
df16.insert(0,"Entreprise","VW")
df16.insert(1,"Type","Group")

df17 = pd.read_csv('sales_moto_Quarter.csv')
df17.insert(0,"Nom_fichier","sales_moto_Quarter")
df17.insert(0,"Entreprise","BMW")
df17.insert(1,"Type","Motorcycles")

df18 = pd.read_csv('unites_vendues_auto_continent.csv')
df18.insert(0,"Nom_fichier","unites_vendues_auto_continent")
df18.insert(0,"Entreprise","BMW")
df18.insert(1,"Type","Automotive")

df19 = pd.read_csv('unites_vendues_auto_pays.csv')
df19.insert(0,"Nom_fichier","unites_vendues_auto_pays")
df19.insert(0,"Entreprise","BMW")
df19.insert(1,"Type","Automotive")

df20 = pd.read_csv('unites_vendues_moto.csv')
df20.insert(0,"Nom_fichier","unites_vendues_moto")
df20.insert(0,"Entreprise","BMW")
df20.insert(1,"Type","Motorcycles")

df21 = pd.read_csv('vente_Quarter.csv')
df21.insert(0,"Nom_fichier","vente_Quarter")
df21.insert(0,"Entreprise","BMW")
df21.insert(1,"Type","Automotive")








import sqlite3

# Créer ou se connecter à la base de données
conn = sqlite3.connect('ma_base_de_donnees.db')
cursor = conn.cursor()

# Créer des tables et insérer les données
df1.to_sql('table1', conn, index=False)
df2.to_sql('table2', conn, index=False)
df3.to_sql('table3', conn, index=False)
df4.to_sql('table4', conn, index=False)
df5.to_sql('table5', conn, index=False)
df6.to_sql('table6', conn, index=False)
df7.to_sql('table7', conn, index=False)
df8.to_sql('table8', conn, index=False)
df9.to_sql('table9', conn, index=False)
df10.to_sql('table10', conn, index=False)
df11.to_sql('table11', conn, index=False)
df12.to_sql('table12', conn, index=False)
df13.to_sql('table13', conn, index=False)
df14.to_sql('table14', conn, index=False)
df15.to_sql('table15', conn, index=False)
df16.to_sql('table16', conn, index=False)
df17.to_sql('table17', conn, index=False)
df18.to_sql('table18', conn, index=False)
df19.to_sql('table19', conn, index=False)
df20.to_sql('table20', conn, index=False)
df21.to_sql('table21', conn, index=False)


# Fermer la connexion
conn.close()

In [70]:
conn = sqlite3.connect('ma_base_de_donnees.db')
cursor = conn.cursor()

# Exemple de requête pour sélectionner toutes les lignes de table1
cursor.execute('SELECT * FROM table21')
rows = cursor.fetchall()
for row in rows:
    print(row)
# Fermer la connexion
conn.close()

('BMW', 'Automotive', 'vente_Quarter', 2022, 1, '2022-03-31', 'BMW_model', '519 796')
('BMW', 'Automotive', 'vente_Quarter', 2022, 2, '2022-06-30', 'BMW_model', '496 432')
('BMW', 'Automotive', 'vente_Quarter', 2022, 3, '2022-09-30', 'BMW_model', '517 638')
('BMW', 'Automotive', 'vente_Quarter', 2022, 4, '2022-12-31', 'BMW_model', '566 823')
('BMW', 'Automotive', 'vente_Quarter', 2021, 1, '2021-03-31', 'BMW_model', '560 543')
('BMW', 'Automotive', 'vente_Quarter', 2021, 2, '2021-06-30', 'BMW_model', '617 667')
('BMW', 'Automotive', 'vente_Quarter', 2021, 3, '2021-09-30', 'BMW_model', '524 858')
('BMW', 'Automotive', 'vente_Quarter', 2021, 4, '2021-12-31', 'BMW_model', '510 722')
('BMW', 'Automotive', 'vente_Quarter', 2020, 1, '2020-03-31', 'BMW_model', '411 695')
('BMW', 'Automotive', 'vente_Quarter', 2020, 2, '2020-06-30', 'BMW_model', '430 660')
('BMW', 'Automotive', 'vente_Quarter', 2020, 3, '2020-09-30', 'BMW_model', '585 505')
('BMW', 'Automotive', 'vente_Quarter', 2020, 4, '2020-12-31', 'BMW_model', '600 981')
('BMW', 'Automotive', 'vente_Quarter', 2019, 1, '2019-03-31', 'BMW_model', '515 297')
('BMW', 'Automotive', 'vente_Quarter', 2019, 2, '2019-06-30', 'BMW_model', '560 189')
('BMW', 'Automotive', 'vente_Quarter', 2019, 3, '2019-09-30', 'BMW_model', '533 215')
('BMW', 'Automotive', 'vente_Quarter', 2019, 4, '2019-12-31', 'BMW_model', '576 238')
('BMW', 'Automotive', 'vente_Quarter', 2018, 1, '2018-03-31', 'BMW_model', '517 447')
('BMW', 'Automotive', 'vente_Quarter', 2018, 2, '2018-06-30', 'BMW_model', '541 849')
('BMW', 'Automotive', 'vente_Quarter', 2018, 3, '2018-09-30', 'BMW_model', '506 920')
('BMW', 'Automotive', 'vente_Quarter', 2018, 4, '2018-12-31', 'BMW_model', '558 810')
('BMW', 'Automotive', 'vente_Quarter', 2017, 1, '2017-03-31', 'BMW_model', '503 445')
('BMW', 'Automotive', 'vente_Quarter', 2017, 2, '2017-06-30', 'BMW_model', '534 585')
('BMW', 'Automotive', 'vente_Quarter', 2017, 3, '2017-09-30', 'BMW_model', '499 467')
('BMW', 'Automotive', 'vente_Quarter', 2017, 4, '2017-12-31', 'BMW_model', '550 786')
('BMW', 'Automotive', 'vente_Quarter', 2016, 1, '2016-03-31', 'BMW_model', '478 743')
('BMW', 'Automotive', 'vente_Quarter', 2016, 2, '2016-06-30', 'BMW_model', '507 814')
('BMW', 'Automotive', 'vente_Quarter', 2016, 3, '2016-09-30', 'BMW_model', '493 379')
('BMW', 'Automotive', 'vente_Quarter', 2016, 4, '2016-12-31', 'BMW_model', '523 423')
('BMW', 'Automotive', 'vente_Quarter', 2022, 1, '2022-03-31', 'MINI', '75 487')
('BMW', 'Automotive', 'vente_Quarter', 2022, 2, '2022-06-30', 'MINI', '65 188')
('BMW', 'Automotive', 'vente_Quarter', 2022, 3, '2022-09-30', 'MINI', '68 596')
('BMW', 'Automotive', 'vente_Quarter', 2022, 4, '2022-12-31', 'MINI', '83 651')
('BMW', 'Automotive', 'vente_Quarter', 2021, 1, '2021-03-31', 'MINI', '74 683')
('BMW', 'Automotive', 'vente_Quarter', 2021, 2, '2021-06-30', 'MINI', '83 165')
('BMW', 'Automotive', 'vente_Quarter', 2021, 3, '2021-09-30', 'MINI', '66 990')
('BMW', 'Automotive', 'vente_Quarter', 2021, 4, '2021-12-31', 'MINI', '77 300')
('BMW', 'Automotive', 'vente_Quarter', 2020, 1, '2020-03-31', 'MINI', '64 295')
('BMW', 'Automotive', 'vente_Quarter', 2020, 2, '2020-06-30', 'MINI', '54 694')
('BMW', 'Automotive', 'vente_Quarter', 2020, 3, '2020-09-30', 'MINI', '89 402')
('BMW', 'Automotive', 'vente_Quarter', 2020, 4, '2020-12-31', 'MINI', '84 191')
('BMW', 'Automotive', 'vente_Quarter', 2019, 1, '2019-03-31', 'MINI', '84 145')
('BMW', 'Automotive', 'vente_Quarter', 2019, 2, '2019-06-30', 'MINI', '88 337')
('BMW', 'Automotive', 'vente_Quarter', 2019, 3, '2019-09-30', 'MINI', '87 561')
('BMW', 'Automotive', 'vente_Quarter', 2019, 4, '2019-12-31', 'MINI', '87 422')
('BMW', 'Automotive', 'vente_Quarter', 2018, 1, '2018-03-31', 'MINI', '86 375')
('BMW', 'Automotive', 'vente_Quarter', 2018, 2, '2018-06-30', 'MINI', '95 055')
('BMW', 'Automotive', 'vente_Quarter', 2018, 3, '2018-09-30', 'MINI', '84 505')
('BMW', 'Automotive', 'vente_Quarter', 2018, 4, '2018-12-31', 'MINI', '95 596')
('BMW', 'Automotive', 'vente_Quarter', 2017, 1, '2017-03-31', 'MINI', '83 059')
('BMW', 'Automotive', 'vente_Quarter', 2017, 2, '2017-06-30', 'MINI', '98 155')
('BMW', 'Automotive', 'vente_Quarter', 2017, 3, '2017-09-30', 'MINI', '90 180')
('BMW', 'Automotive', 'vente_Quarter', 2017, 4, '2017-12-31', 'MINI', '100 487')
('BMW', 'Automotive', 'vente_Quarter', 2016, 1, '2016-03-31', 'MINI', '78 311')
('BMW', 'Automotive', 'vente_Quarter', 2016, 2, '2016-06-30', 'MINI', '96 587')
('BMW', 'Automotive', 'vente_Quarter', 2016, 3, '2016-09-30', 'MINI', '89 179')
('BMW', 'Automotive', 'vente_Quarter', 2016, 4, '2016-12-31', 'MINI', '96 156')
('BMW', 'Automotive', 'vente_Quarter', 2022, 1, '2022-03-31', 'Rolls-Royce', '1 624')
('BMW', 'Automotive', 'vente_Quarter', 2022, 2, '2022-06-30', 'Rolls-Royce', '1 567')
('BMW', 'Automotive', 'vente_Quarter', 2022, 3, '2022-09-30', 'Rolls-Royce', '1 510')
('BMW', 'Automotive', 'vente_Quarter', 2022, 4, '2022-12-31', 'Rolls-Royce', '1 320')
('BMW', 'Automotive', 'vente_Quarter', 2021, 1, '2021-03-31', 'Rolls-Royce', '1 380')
('BMW', 'Automotive', 'vente_Quarter', 2021, 2, '2021-06-30', 'Rolls-Royce', '1 609')
('BMW', 'Automotive', 'vente_Quarter', 2021, 3, '2021-09-30', 'Rolls-Royce', '1 329')
('BMW', 'Automotive', 'vente_Quarter', 2021, 4, '2021-12-31', 'Rolls-Royce', '1 268')
('BMW', 'Automotive', 'vente_Quarter', 2020, 1, '2020-03-31', 'Rolls-Royce', '853')
('BMW', 'Automotive', 'vente_Quarter', 2020, 2, '2020-06-30', 'Rolls-Royce', '707')
('BMW', 'Automotive', 'vente_Quarter', 2020, 3, '2020-09-30', 'Rolls-Royce', '1 091')
('BMW', 'Automotive', 'vente_Quarter', 2020, 4, '2020-12-31', 'Rolls-Royce', '1 105')
('BMW', 'Automotive', 'vente_Quarter', 2019, 1, '2019-03-31', 'Rolls-Royce', '1 172')
('BMW', 'Automotive', 'vente_Quarter', 2019, 2, '2019-06-30', 'Rolls-Royce', '1 330')
('BMW', 'Automotive', 'vente_Quarter', 2019, 3, '2019-09-30', 'Rolls-Royce', '1 205')
('BMW', 'Automotive', 'vente_Quarter', 2019, 4, '2019-12-31', 'Rolls-Royce', '1 393')
('BMW', 'Automotive', 'vente_Quarter', 2018, 1, '2018-03-31', 'Rolls-Royce', '807')
('BMW', 'Automotive', 'vente_Quarter', 2018, 2, '2018-06-30', 'Rolls-Royce', '974')
('BMW', 'Automotive', 'vente_Quarter', 2018, 3, '2018-09-30', 'Rolls-Royce', '878')
('BMW', 'Automotive', 'vente_Quarter', 2018, 4, '2018-12-31', 'Rolls-Royce', '1 448')
('BMW', 'Automotive', 'vente_Quarter', 2017, 1, '2017-03-31', 'Rolls-Royce', '733')
('BMW', 'Automotive', 'vente_Quarter', 2017, 2, '2017-06-30', 'Rolls-Royce', '842')
('BMW', 'Automotive', 'vente_Quarter', 2017, 3, '2017-09-30', 'Rolls-Royce', '768')
('BMW', 'Automotive', 'vente_Quarter', 2017, 4, '2017-12-31', 'Rolls-Royce', '1 019')
('BMW', 'Automotive', 'vente_Quarter', 2016, 1, '2016-03-31', 'Rolls-Royce', '551')
('BMW', 'Automotive', 'vente_Quarter', 2016, 2, '2016-06-30', 'Rolls-Royce', '1 133')
('BMW', 'Automotive', 'vente_Quarter', 2016, 3, '2016-09-30', 'Rolls-Royce', '941')
('BMW', 'Automotive', 'vente_Quarter', 2016, 4, '2016-12-31', 'Rolls-Royce', '1 386')

In [71]:
import sqlite3
import pandas as pd

# Se connecter à la base de données
conn = sqlite3.connect('ma_base_de_donnees.db')

# Récupérer la liste des tables dans la base de données
tables = conn.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
table_names = [table[0] for table in tables]

# Créer un dictionnaire pour stocker les données de chaque table
data_dict = {}

# Parcourir les tables et stocker leurs données dans le dictionnaire
for table_name in table_names:
    query = f'SELECT * FROM {table_name}'
    df = pd.read_sql_query(query, conn)
    data_dict[table_name] = df

# Fusionner les données en un seul DataFrame
merged_df = pd.concat(data_dict.values(), ignore_index=True)

# Enregistrer le DataFrame fusionné dans un fichier CSV
merged_df.to_csv('donnees_combinees.csv', index=False)

# Fermer la connexion
conn.close()